/*
 * BLOG: HEADING
 */
.blog__content header {
	h1 {
		line-height: 56px;
		margin-bottom: 5px;
		text-shadow: 0px 1px 0px white;
		border-bottom: 5px solid rgba(0,0,0,0.2);
	}

	h2 {
		font-style: italic;
		margin: 10px 0 30px;
		font-weight: 300;
		font-size: 18px;
	}
}