/**
 * BLOG: LIST
 */
.blog__list {
	list-style: none;

	li {
		border-bottom: 2px solid rgba(0, 0, 0, .2);
	}

	a {
		font-family: $RobotoMono;
		font-size: 24px;
		font-weight: 400;
		display: block;
		width: 100%;
		padding: 20px 0;
		position: relative;
	}

	span:not(.item__tags) {
		display: block;
		font-size: 18px;
		font-weight: 400;
		color: rgba(0, 0, 0, .5);
	}
}

.item__tags {
	font-weight: 300;
	display: inline;
	font-size: 16px;
	color: rgba(0,0,0,.3);
}