---
layout: blog
title: Writes | Moritz Kröger
---
<div class="content-inner">
	<div class="headline-gradient container">
		<h1 title="What I'm writing here and there">What I'm writing here and there</h1>
	</div>

	<ul class="blog-list">
	{% for post in paginator.posts %}
		<li>
			{% if post.external %}
			<a href="{{ post.external.url }}" target="_blank" class="blog-post-external">
				<h2>
					{{ post.title }}
					<svg><use xlink:href="#new-window"></use></svg>
				</h2>
			{% else %}
			<a href="{{ post.url }}">
				<h2>{{ post.title }}</h2>
			{% endif %}
				<p>
					<time datetime='{{ post.date | date: "%B %e, %" }}'>{{ post.date | date: "%d %B %Y" }}</time>,
					{% if post.external %}
					Published on <span>{{ post.external.host }}</span>
					{% else %}
					Published in <span>{% for tag in post.tags %}#{{ tag }} {% endfor %}</span>
					{% endif %}
				</p>
			</a>
		</li>
	{% endfor %}
	</ul>

	{% if paginator.total_pages > 1 %}
	<div class="blog-paginator">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | replace: 'index.html', '' }}" rel="prev">Previous</a>
		{% else %}
		<button disabled type="button" aria-disabled="true">Previous</button>
		{% endif %}

		{% if paginator.next_page %}
		<a ref="{{ paginator.next_page_path }}" rel="next">Next</a>
		{% else %}
		<button formnovalidate=""disabled type="button" aria-disabled="true">Next</button>
		{% endif %}
	</div>
	{% endif %}
</div>