---
layout: default
---

<section id="main-content" class="content-blog">
	<aside class="main-aside">
		<div class="aside__navigation" role="complementary">
			<a href="/">{% include author-img.html %}</a>
			{% include menu.html %}
			{% include author-description.html %}
		</div>
	</aside>

	<article class="blog__content">
		<header>
			<h1>Latest articles</h1>	
			<h2>I write about everything frontend related; general thoughts, useful snippets or just my private projects.</h2>
		</header>

		<ul class="blog__list">
		{% for post in site.posts %}
			<li class="blog__item"><a href="{{ post.url }}">
				<span>{{ post.date | date: "%B %e, %Y" }} <span class="item__tags">{% for tag in post.tags %}#{{ tag }}{% endfor %}</span></span>
				{{ post.title }}			
			</a></li>
		{% endfor %}	
		</ul>
	</article>
</section>	