---
layout: default
title: Writes | Moritz Kröger
---

<div id="main-content" class="content-blog">
	<aside class="main-aside">
		<div class="aside__navigation" role="complementary">
			{% include menu.html %}
			<div class="aside__author">
				<h1>Hello! <br> I'm Moritz Kröger</h1>
				{% include author-img.html %}
			</div>
			{% include tags.html %}
		</div>
	</aside>

	<article class="blog__content">
		<header class="content__heading">
			<h1>Latest articles</h1>	
		</header>

		<p>I write about everything front-end related, with exceptions.</p>

		<ul class="blog__list">
		{% for post in paginator.posts %}
			<li class="blog__item"><a href="{{ post.url }}" class="link-feature">
				<span>
					<time datetime='{{ post.date | date: "%B %e, %" }}'>{{ post.date | date: "%B %e, %Y" }}</time>
					<span class="item__tags">{% for tag in post.tags %}#{{ tag }} {% endfor %}</span>
				</span>
				<h2>{{ post.title }}</h2>
				<span class="item__excerpt">{{ post.excerpt | strip_html }}</span>
			</a></li>
		{% endfor %}	
		</ul>

		{% if paginator.total_pages > 1 %}
		<div class="blog__paginator">
			{% if paginator.previous_page %}
			<a class="link-gradient" href="{{ paginator.previous_page_path | replace: 'index.html', '' }}" rel="prev">Previous</a>
			{% else %}
			<button class="btn" disabled type="button">Previous</button>
			{% endif %}

			{% if paginator.next_page %}			
			<a class="link-gradient" href="{{ paginator.next_page_path }}" rel="next">Next</a>
			{% else %}
			<button class="btn" disabled type="button">Next</button>
			{% endif %}
		</div>
		{% endif %}
	</article>
</div>	