<svg>
	<use xlink:href="#alert"></use>
</svg>
<svg>
	<use xlink:href="#border"></use>
</svg>
<svg>
	<use xlink:href="#sun"></use>
</svg>
<svg>
	<use xlink:href="#moon"></use>
</svg>
<svg>
	<use xlink:href="#blob"></use>
</svg>
<svg>
	<use xlink:href="#earth"></use>
</svg>
<svg>
	<use xlink:href="#brackets"></use>
</svg>
<svg>
	<use xlink:href="#call-split"></use>
</svg>
<svg>
	<use xlink:href="#calendar-time"></use>
</svg>
<svg>
	<use xlink:href="#sitepoint"></use>
</svg>
<svg>
	<use xlink:href="#javascript"></use>
</svg>
<svg>
	<use xlink:href="#construction"></use>
</svg>
<svg>
	<use xlink:href="#fingerprint"></use>
</svg>
<svg>
	<use xlink:href="#articles"></use>
</svg>
<svg>
	<use xlink:href="#compass"></use>
</svg>
<svg>
	<use xlink:href="#home"></use>
</svg>
<svg>
	<use xlink:href="#arrow-top"></use>
</svg>
<svg>
	<use xlink:href="#arrow-down"></use>
</svg>
<svg>
	<use xlink:href="#arrow-right"></use>
</svg>
<svg>
	<use xlink:href="#arrow-left"></use>
</svg>
<svg>
	<use xlink:href="#new-window"></use>
</svg>
<svg>
	<use xlink:href="#github"></use>
</svg>
<svg>
	<use xlink:href="#stackoverflow"></use>
</svg>
<svg>
	<use xlink:href="#linkedin"></use>
</svg>
<svg>
	<use xlink:href="#mail"></use>
</svg>
<svg>
	<use xlink:href="#codepen"></use>
</svg>
<svg>
	<use xlink:href="#star"></use>
</svg>
<svg>
	<use xlink:href="#instagram"></use>
</svg>
<svg>
	<use xlink:href="#file-text"></use>
</svg>
<svg>
	<use xlink:href="#award"></use>
</svg>
<svg>
	<use xlink:href="#book"></use>
</svg>
<svg>
	<use xlink:href="#briefcase"></use>
</svg>
<svg>
	<use xlink:href="#layers"></use>
</svg>
<svg>
	<use xlink:href="#terminal"></use>
</svg>
