<footer id="page-footer" role="contentinfo">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 1440 45"
		aria-hidden="true"
		focusable="false"
	>
		<path
			fill="#000"
			fill-rule="evenodd"
			d="M984.457 32.182c53.352-1.698 104.799-7.169 156.258-12.946l15.905-1.797c66.964-7.595 90.201-10.343 166.257-6.991 60.533 2.668 103.125 13.858 117.127 25.87V45H-5.375c-1.86-5.455.526-11.064 5.89-15.196l.975-.746C14.422 19.266 31.165 11.02 55.103 7.065c47.74-7.87 96.066-9.287 143.915.38l1.48.303c156.487 32.335 228.197 8.662 363.656-4.071 186.988-17.568 253.336 33.81 420.303 28.505z"
		/>
	</svg>
	<div class="footer-inner container">
		<div class="footer-info">
			<p>
				I am Moritz Kröger, Engineering Manager and Open Source contributor who
				lives in Berlin. I usually go with
				<a
					href="https://www.google.de/search?q=morkro"
					target="_blank"
					rel="noopener"
					>morkro</a
				>
				everywhere, but here are a few handy links anyway:
			</p>

			<ul class="footer-socialmedia">
				<li>
					<a
						href="{{ site.data.socialnetworks.twitter.url }}"
						target="_blank"
						rel="noopener"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#twitter"></use>
						</svg>
						<span class="visually-hidden">Twitter</span>
					</a>
				</li>
				<li>
					<a
						href="{{ site.data.socialnetworks.offsetearth.url }}"
						target="_blank"
						rel="noopener"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#earth"></use>
						</svg>
						<span class="visually-hidden">Offset.earth</span>
					</a>
				</li>
				<li>
					<a
						href="{{ site.data.socialnetworks.instagram.url }}"
						target="_blank"
						rel="noopener"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#instagram"></use>
						</svg>
						<span class="visually-hidden">Instagram</span>
					</a>
				</li>
				<li>
					<a
						href="{{ site.data.socialnetworks.github.url }}"
						target="_blank"
						rel="noopener"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#github"></use>
						</svg>
						<span class="visually-hidden">Github</span>
					</a>
				</li>
				<li>
					<a
						href="{{ site.data.socialnetworks.stackoverflow.url }}"
						target="_blank"
						rel="noopener"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#stackoverflow"></use>
						</svg>
						<span class="visually-hidden">StackOverflow</span>
					</a>
				</li>
				<li>
					<a
						href="{{ site.data.socialnetworks.linkedin.url }}"
						target="_blank"
						rel="noopener"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#linkedin"></use>
						</svg>
						<span class="visually-hidden">LinkedIn</span>
					</a>
				</li>
				<li>
					<a href="mailto:{{ site.email }}">
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#mail"></use>
						</svg>
						<span class="visually-hidden">E-Mail</span>
					</a>
				</li>
				<li>
					<a
						href="{{ site.data.socialnetworks.codepen.url }}"
						target="_blank"
						rel="noopener"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#codepen"></use>
						</svg>
						<span class="visually-hidden">Codepen</span>
					</a>
				</li>
			</ul>

			<div class="footer-content">
				<p>
					This website ({{ site.version }}) is made with
					<a href="https://jekyllrb.com/" target="_blank" rel="noopener"
						>Jekyll</a
					>
					and all content is
					<a
						href="https://github.com/morkro/morkro.de"
						target="_blank"
						rel="noopener"
						>open source</a
					>.
					<br />
					© <span class="footer-year">{{ site.time | date: "%Y" }}</span> Moritz
					Kröger
				</p>
			</div>
		</div>
		<div class="footer-menu">
			{% include menu.html %}
			<a href="#" class="footer-gotop" data-scrollto="#">
				<span class="visually-hidden">Back to top</span>
				<svg aria-hidden="true" focusable="false">
					<use xlink:href="#arrow-top"></use>
				</svg>
				<svg class="footer-gotop-blob" aria-hidden="true" focusable="false">
					<use xlink:href="#blob"></use>
				</svg>
			</a>
		</div>
	</div>
</footer>
