<footer id="page-footer">
	<svg
		class="section-border black"
		viewBox="0 0 1440 45"
		aria-hidden="true"
		focusable="false"
	>
		<use xlink:href="#border"></use>
	</svg>
	<div class="footer-inner container-large">
		<div class="footer-info">
			<p>
				I am Moritz Kröger, Director of Software & Cloud Engineering and Open
				Source contributor who lives in Berlin. I usually go with
				<a
					href="https://www.google.de/search?q=morkro"
					target="_blank"
					rel="noopener"
					>morkro</a
				>
				everywhere, but here are a few handy links anyway:
			</p>

			<ul class="footer-socialmedia">
				<li>
					<a href="mailto:{{ site.email }}">
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#mail"></use>
						</svg>
						<span class="sr-only">E-Mail</span>
					</a>
				</li>
				<li>
					<a
						href="{{ socialnetworks.linkedin.url }}"
						target="_blank"
						rel="noopene noreferrerr"
						title="LinkedIn"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#linkedin"></use>
						</svg>
						<span class="sr-only">LinkedIn</span>
					</a>
				</li>
				<li>
					<a
						href="{{ socialnetworks.github.url }}"
						target="_blank"
						rel="noopene noreferrerr"
						title="Github"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#github"></use>
						</svg>
						<span class="sr-only">GitHub</span>
					</a>
				</li>
				<li>
					<a
						href="{{ socialnetworks.stackoverflow.url }}"
						target="_blank"
						rel="noopene noreferrerr"
						title="StackOverflow"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#stackoverflow"></use>
						</svg>
						<span class="sr-only">StackOverflow</span>
					</a>
				</li>
				<li>
					<a
						href="{{ socialnetworks.instagram.url }}"
						target="_blank"
						rel="noopene noreferrerr"
						title="Instagram"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#instagram"></use>
						</svg>
						<span class="sr-only">Instagram</span>
					</a>
				</li>
				<li>
					<a
						href="{{ socialnetworks.ecologi.url }}"
						target="_blank"
						rel="noopene noreferrerr"
						title="Ecologi"
					>
						<svg aria-hidden="true" focusable="false">
							<use xlink:href="#earth"></use>
						</svg>
						<span class="sr-only">Ecologi</span>
					</a>
				</li>
			</ul>

			<div class="footer-content">
				<p>
					This website ({{ pkg.version }}) is made with
					<a
						href="https://www.11ty.dev/"
						target="_blank"
						rel="noopener noreferrer"
						class="anim-underline"
						>11ty</a
					>
					and all content is
					<a
						href="{{ socialnetworks.github.url }}/morkro.de"
						target="_blank"
						rel="noopener noreferrer"
						class="anim-underline"
						>open source</a
					>.
					<br />
					© <span class="footer-year">{% currentYear %}</span> Moritz Kröger
				</p>
			</div>
		</div>

		<div class="footer-menu">
			{% include menu.html %}
			<a href="#" class="footer-gotop" data-scrollto="#">
				<span class="sr-only">Back to top</span>
				<svg aria-hidden="true" focusable="false">
					<use xlink:href="#arrow-top"></use>
				</svg>
				<svg class="footer-gotop-blob" aria-hidden="true" focusable="false">
					<use xlink:href="#blob"></use>
				</svg>
			</a>
		</div>
	</div>
</footer>
