---
layout: default
title: Moritz Kröger
classes: introduction
---
<section class="intro-start container-large">
	<header class="headline-gradient">
		<h1 itemprop="title" title="Hey there!">Hey there!</h1>
	</header>

	<div class="intro-start-photo">
		{% include author-img.html %}
	</div>

	<div class="intro-start-content">
		<p>
			I am Moritz Kröger, Lead Engineer, DevOps Enthusiast, and Open Source contributor who lives in Berlin.
			Although Germans typically have a thing for extra long compound words, I am a friend of short functions.
		</p>
	</div>
</section>

<section class="intro-section container-large">
	<aside>
		<h2>Networks</h2>

		<ul class="section-list">
			<li><a href="{{ site.data.socialnetworks.linkedin.url }}" target="_blank" rel="noopener">
				<span>LinkedIn</span> <svg><use xlink:href="#linkedin"></use></svg>
			</a></li>
			<li><a href="{{ site.data.socialnetworks.github.url }}" target="_blank" rel="noopener">
				<span>GitHub</span> <svg><use xlink:href="#github"></use></svg>
			</a></li>
			<li><a href="{{ site.data.socialnetworks.stackoverflow.url }}" target="_blank" rel="noopener">
				<span>StackOverflow</span> <svg><use xlink:href="#stackoverflow"></use></svg>
			</a></li>
		</ul>

		<div class="intro-aside-article">
			<h2>
				Check out my latest article:
			</h2>
			{% for post in site.posts limit:1 %}
			{% if post.external %}
			<a href="{{ post.external.url }}" target="_blank" rel="noopener" class="intro-writing-link">
			{% else %}
			<a href="{{ post.url }}" class="intro-writing-link">
			{% endif %}
				{{ post.title }}
				{% if post.external %}
				<svg><use xlink:href="#new-window"></use></svg>
				{% endif %}
			</a>
			{% endfor %}
		</div>
	</aside>

	<div class="intro-content">
		<p>
			As a <strong>Tech Lead</strong>, I lead software engineering teams and specialise in <strong>Web & Mobile Application Development</strong>, primarily — but not limited to — in a JavaScript stack.
			I am also experienced in hiring tech talent, for clients as well as in-house, and coaching engineering teams in <strong>Agile development practices</strong>.
		</p>
		<p>
			As an engineer, I focus on JavaScript <svg><use xlink:href="#javascript"></use></svg>, TypeScript, DevOps,
			and the ECMAScript language specification. But emerging technologies in general spark my interest.
			I like working on the front- and back-end of the web, contribute to and publish my own open source projects
			on a regular basis. <strong>Sharing knowledge and supporting others</strong> — this is what the web is really all about for me.
		</p>
		<p>
			I am currently working at
			<a class="content-ref-job" href="https://mckinsey.com" target="_blank" rel="noopener">
				<img src="/assets/img/mck.png" alt="McKinsey & Company Logo">
				<strong>McKinsey & Company</strong>
			</a>
			as <strong>Digital Expert</strong>, solving all kinds of engineering problems for our clients.
		</p>
	</div>
</section>

<!-- <section class="intro-plants">
	<div class="container-large">
		<h1>Plants, plants, plants</h1>

		<div class="plants-content">
			foo
		</div>
	</div>
</section> -->

<section class="intro-teaser">
	<div class="container-large">
		<h3 class="teaser-main-link">
			<a href="/is">
				Get to know more of me on my <span>bio</span> page
				<svg><use xlink:href="#arrow-right"></use></svg>
			</a>
		</h3>
		<a href="{{ site.data.socialnetworks.instagram.url }}" class="teaser-social-link" target="_blank" rel="noopener">
			<svg><use xlink:href="#instagram"></use></svg> Plants, plants, plants
		</a>
	</div>
</section>
