/**
 * CONTENT
 */
#content {
	width: 100%;
	padding-block-start: var(--gap-medium);
	background: var(--background-content);

	@media (width <= 768px) {
		padding-block-start: 40px;
		overflow: hidden;
	}
}

.section-border {
	filter: drop-shadow(0 -8px 0 var(--background-content));
	overflow: visible;

	&.white {
		--background-base: var(--background-highlight);
	}
}
