/**
 * CONTENT
 */
#content {
	width: 100%;
	padding: var(--base-gap) 0 0;
	background: var(--background-content);

	@media (--media-smaller-tablet) {
		padding-top: 40px;
		overflow: hidden;
	}

	> *:not(#background-blob) {
		z-index: 1;
		position: relative;
	}
}
