/**
 * FOOTER
 */
#page-footer {
	width: 100%;
	padding: calc(0.5 * var(--gap-base)) 0 35px;
	text-align: center;
	background-color: var(--background-base);
	position: relative;

	@media (--media-smaller-tablet) {
		padding: 70px 0 20px;
	}

	span {
		font-size: inherit;
	}

	> svg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		transform: translateY(-98%);
	}
}

.footer-info {
	text-align: left;

	@media (--media-smaller-tablet) {
		text-align: center;
		width: 100%;
	}

	> p {
		color: var(--light-grey);
		font-size: var(--font-size-base);
		line-height: 24px;
		margin-bottom: var(--page-gap);

		@media (--media-smaller-tablet) {
			width: 100%;
		}
	}

	> p > a {
		color: var(--text-color-base-inverse);
		font-weight: 400;
		text-decoration: none !important;
	}

	p:not(:last-of-type) {
		margin-bottom: 20px;
	}
}

#page-footer .footer-inner .footer-menu {
	text-align: right;

	@media (--media-smaller-tablet) {
		text-align: center;
		margin-top: 50px;
		width: 100%;
	}

	a,
	span {
		font-size: var(--font-size-base);
		font-weight: 400;
	}

	ul {
		list-style: none;
	}

	> a {
		font-size: var(--font-size-small);
	}

	a {
		--border-color: var(--text-color-base-inverse);

		color: var(--text-color-base-inverse);
		position: relative;

		&:hover {
			--border-color: var(--link-color);

			color: var(--link-color);
		}

		@media (--media-smaller-500) {
			&::before,
			&::after {
				display: none;
			}
		}
	}
}

#page-footer .footer-inner .footer-info .footer-socialmedia {
	margin-bottom: var(--page-gap);
	display: inline-block;
	list-style: none;

	svg {
		width: var(--icon-size-small);
		height: var(--icon-size-small);
		fill: var(--text-color-base-inverse);
		color: var(--text-color-base-inverse);
		transition: fill 150ms ease-in-out;
	}

	li {
		display: inline-block;
		margin-right: 15px;
	}

	a {
		display: block;
		line-height: 0;
		transform: scale(1);
		transform-origin: center;

		&:hover svg {
			fill: var(--link-color);
			color: var(--link-color);
		}

		&:active {
			background: none;

			svg {
				fill: var(--link-hover);
				color: var(--link-hover);
			}
		}
	}
}

#page-footer .footer-info .footer-content {
	p {
		text-align: left;
		font-size: var(--font-size-small);
		color: rgb(255 255 255 / 50%);

		@media (--media-smaller-tablet) {
			text-align: center;
		}
	}

	/** Disabling linter here as the selectors don't match in the DOM */
	/* stylelint-disable no-descending-specificity */
	a {
		color: var(--text-color-base-inverse);
		transition: color 150ms ease-in-out;
	}
	/* stylelint-enable no-descending-specificity */

	.anim-underline {
		--border-color: var(--text-color-base-inverse);
	}
}

html[data-theme='dark'] .footer-gotop .footer-gotop-blob {
	fill: var(--background-content);
}

#page-footer .footer-inner .footer-gotop {
	display: inline-flex;
	padding: 0;
	margin-top: var(--page-gap);
	transform: perspective(1px) translateZ(0);

	&:hover,
	&:active {
		animation-name: hvr-bob-float, hvr-bob;
		animation-duration: 0.3s, 1.5s;
		animation-delay: 0s, 0.3s;
		animation-timing-function: ease-out, ease-in-out;
		animation-iteration-count: 1, infinite;
		animation-fill-mode: forwards;
		animation-direction: normal, alternate;
	}

	&::before {
		display: none;
	}

	.footer-gotop-blob {
		width: 65px;
		height: 70px;
		fill: var(--dark-grey);
		transition: fill 150ms var(--ease-out-back);
	}

	&:hover .footer-gotop-blob {
		fill: var(--link-color) !important;
	}

	/** Disabling linter here as the selectors don't match in the DOM */
	/* stylelint-disable no-descending-specificity */
	svg:not(.footer-gotop-blob) {
		width: var(--icon-size);
		height: var(--icon-size);
		fill: var(--white);
		transform: translateY(-50%) translateX(-50%);
		transition: transform 150ms var(--ease-out-back);
		position: absolute;
		top: 50%;
		left: 50%;
	}
	/* stylelint-enable no-descending-specificity */
}
