/**
 * HEADER
 */
#page-header {
	width: 100%;
	background-color: var(--background-content);
}

.header-inner {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: var(--gap-base);
}

/**
 * Navigation
 */
.header-nav {
	position: relative;

	& > div {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-column-gap: var(--gap-base);
		align-items: center;
		position: relative;
		z-index: 1;

		@media (width <= 768px) {
			/* grid-template-columns: 1fr; */
			justify-items: center;
			grid-row-gap: var(--gap-base);
		}
	}
}

.header-nav-bg {
	position: absolute;
	top: calc(-2 * var(--gap-base));
	right: calc(-1 * var(--gap-base));
	width: 692px;
	transform: translateX(10%);

	@media (width <= 768px) {
		display: none;
	}
}

.header-nav ul {
	list-style: none;
	display: flex;
	padding: 0;

	@media (width <= 768px) {
		& a {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}

		& span {
			font-size: var(--font-size-small);
		}

		& svg {
			display: block !important;
			width: var(--icon-size);
			height: var(--icon-size);
		}
	}

	& li:not(:last-child) {
		margin-right: calc(3 * var(--gap-base));

		/* @media (width <= 768px) {
			margin-right: 0;
		} */
	}

	& .active {
		color: var(--link-color);
		cursor: text;

		&::after {
			background-color: var(--link-color);
			transform: scaleX(1);
		}

		& svg {
			fill: var(--link-color);
		}
	}

	& a {
		color: var(--text-color-base);
		font-size: var(--font-size-medium);
		font-weight: 400;

		@media (width <= 500px) {
			&::before,
			&::after {
				display: none;
			}
		}

		& span {
			font-weight: 400;
		}
	}
}

.header-inner .js-theme-toggle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--border-width-base) dashed transparent;
	border-radius: 50%;
	padding: var(--border-width-base);
	width: 38px;
	height: 38px;
	background: none;

	&::after {
		content: "";
		background: var(--background-content);
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		clip-path: path(
			"M16.7145 0.134638C19.8479 0.0670603 23.2052 -0.486891 25.863 1.28478C28.5303 3.06278 29.4978 6.55526 30.8733 9.57262C32.2836 12.6664 34.123 15.6831 33.9935 19.1205C33.8579 22.7214 32.5026 26.3034 30.1458 28.8855C27.8461 31.4049 24.4782 32.2055 21.2784 33.051C18.1999 33.8645 15.0846 34.3553 11.9756 33.6869C8.66654 32.9756 5.17529 31.9 3.02223 29.1267C0.883174 26.3714 0.926502 22.5048 0.535763 18.9517C0.154903 15.4885 -0.561299 11.8874 0.776516 8.70584C2.11779 5.51604 4.87428 3.2481 7.80069 1.67432C10.544 0.199018 13.6429 0.200881 16.7145 0.134638Z"
		);
	}

	&:active,
	&:focus {
		border-color: var(--blue);
		outline: none;
	}

	.theme-toggle-sun {
		fill: none;
	}

	& svg {
		width: var(--icon-size-small);
		height: var(--icon-size-small);
		position: relative;
		fill: var(--text-color-base);

		&:hover {
			fill: currentcolor;
		}
	}

	&:hover svg {
		color: var(--text-color-base);
	}
}

html[data-theme="light"] .header-inner .js-theme-toggle .theme-toggle-moon {
	display: none;
}

html[data-theme="dark"] .header-inner .js-theme-toggle .theme-toggle-sun {
	display: none;
}
