/**
 * HEADER
 */
#page-header {
	width: 100%;
	top: 0;
	background-color: var(--background-content);
}

.header-inner {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: calc(2 * var(--page-gap));
	padding-bottom: calc(2 * var(--page-gap));

	@media (--media-smaller-tablet) {
		flex-direction: column;
	}
}

/**
 * Name
 */
.header-name {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&::after {
		content: url('/../assets/icons/home.svg');
		padding-top: 4px;
		padding-left: 3px;
		width: calc(var(--icon-size) - 3px);
		height: calc(var(--icon-size) - 2px);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background: var(--blue);
		border-radius: calc(var(--base-radius) / 2);
		transform: scale(0);
		transform-origin: center;
		transition: transform 175ms var(--ease-out-back);
	}

	&:has(a:hover)::after {
		transform: scale(1);
	}

	img {
		width: var(--icon-size);
		height: var(--icon-size);
		border-radius: calc(var(--base-radius) / 2);
		box-shadow: 0 2px 9px rgb(0 0 0 / 15%);
		margin-right: var(--page-gap);
		cursor: var(--cursor-default);
	}

	a {
		color: var(--special-text-color);
		font-weight: 400;
		letter-spacing: 0;
	}

	h1 {
		font-size: var(--font-size-medium);
		margin: 0;
	}

	@media (--media-smaller-tablet) {
		margin-bottom: calc(2 * var(--page-gap));
		line-height: inherit;
	}
}

/**
 * Navigation
 */
.header-nav {
	position: relative;

	@media (--media-smaller-tablet) {
		width: 100%;
	}

	> div {
		display: grid;
		grid-template-rows: repeat(2, auto);
		grid-row-gap: var(--page-gap);
		position: relative;
		z-index: 1;
	}
}

.header-nav > svg {
	position: absolute;
	top: calc(-2 * var(--page-gap));
	right: calc(-1 * var(--page-gap));
	width: 426px;
	transform: translateX(10%);

	@media (--media-smaller-tablet) {
		display: none;
	}
}

.header-nav ul {
	list-style: none;
	display: flex;

	@media (--media-smaller-tablet) {
		display: flex;
		justify-content: space-around;

		a {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}

		span {
			font-size: var(--font-size-small);
		}

		svg {
			display: block !important;
			width: var(--icon-size);
			height: var(--icon-size);
		}
	}

	li:not(:last-child) {
		margin-right: calc(3 * var(--page-gap));

		@media (--media-smaller-tablet) {
			margin-right: 0;
		}
	}

	.active {
		color: var(--link-color);
		cursor: text;

		&::after {
			background-color: var(--link-color);
			transform: scaleX(1);
		}

		svg {
			fill: var(--link-color);
		}
	}

	a {
		color: var(--special-text-color);
		font-size: var(--font-size-medium);
		font-weight: 400;

		@media (--media-smaller-500) {
			&::before,
			&::after {
				display: none;
			}
		}

		span {
			font-weight: 400;
		}
	}
}

.header-inner .js-theme-toggle {
	background: none;
	display: flex;
	border: none;
	transition: opacity 150ms ease-in-out;
	color: var(--shade-of-grey-dark);

	&:active,
	&:focus {
		outline: 2px dashed var(--blue);
	}

	.theme-toggle-sun {
		fill: none;
	}

	/** Disabling linter here as the selectors don't match in the DOM */
	/* stylelint-disable no-descending-specificity */
	svg {
		width: var(--icon-size-small);
		height: var(--icon-size-small);
		fill: var(--shade-of-grey-dark);

		&:hover {
			fill: var(--special-text-color);
		}
	}
	/* stylelint-enable no-descending-specificity */

	&:hover svg {
		color: var(--normal-text);
	}
}

html[data-theme='light'] .header-inner .js-theme-toggle {
	.theme-toggle-moon {
		display: none;
	}
}

html[data-theme='dark'] .header-inner .js-theme-toggle {
	.theme-toggle-sun {
		display: none;
	}

	svg:not(:hover) {
		fill: var(--grey);
	}
}
