.main__header {
	margin-bottom: 50px;

	h1, h1 span {
		font-size: 40px;
		font-weight: 500;
		text-transform: uppercase;
		transition: all 150ms ease-in-out;
	}

	h1 {
		position: relative;

		&:hover { color: rgba(19, 19, 19, .6); }
		&:hover span { color: rgba(19, 19, 19, 1); }
		
		&:after {
			content: "";
			position: absolute;
			width: 25%;
			height: 4px;
			background: rgba(19,19,19, .15);
			bottom: -25px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	h2 { font-weight: 400; }
}