<footer id="page-footer" role="contentinfo">
	<div class="footer-inner container">
		<div class="inner-left">
			<p>I'm a German front-end developer who lives and works in Berlin.</p>
			{% include socialmedia.html %}
		</div>

		<div class="inner-right">
			{% include menu.html %}
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<p>© <span class="footer-year">{{ site.time | date: "%Y" }}</span>  Moritz Kröger</p>
			<a href="/imprint">Imprint</a>
		</div>
	</div>
</footer>