<ul class="socialmedia">
	<li><a href="{{ site.data.socialnetworks.twitter.url }}" target="_blank" rel="noopener">
		<svg><use xlink:href="#twitter"></use></svg>
	</a></li>
	<li><a href="{{ site.data.socialnetworks.github.url }}" target="_blank" rel="noopener">
		<svg><use xlink:href="#github"></use></svg>
	</a></li>
	<li><a href="{{ site.data.socialnetworks.stackoverflow.url }}" target="_blank" rel="noopener">
		<svg><use xlink:href="#stackoverflow"></use></svg>
	</a></li>
	<li><a href="{{ site.data.socialnetworks.linkedin.url }}" target="_blank" rel="noopener">
		<svg><use xlink:href="#linkedin"></use></svg>
	</a></li>
	<li><a href="mailto:{{ site.email }}">
		<svg><use xlink:href="#mail"></use></svg>
	</a></li>
	<li><a href="{{ site.data.socialnetworks.codepen.url }}" target="_blank" rel="noopener">
		<svg><use xlink:href="#codepen"></use></svg>
	</a></li>
</ul>