.btn {
	border-radius: var(--radius-base);
	padding-block: calc(var(--gap-base) / 5);
	padding-inline: calc(var(--gap-base) / 2);
	font-weight: 400;
	display: inline-flex;
	align-items: center;
	gap: var(--gap-small);
	background: var(--background-highlight);
	color: var(--text-color-base);

	&:hover {
		color: var(--link-color);
	}

	& svg {
		width: var(--icon-size-small);
		height: var(--icon-size-small);
	}
}
