.headline-highlight {
	--background-svg-light: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 478 77'><path fill='white' fill-rule='evenodd' d='M21.9814424,85.7412526 C7.4785772,81.8681694 -1.35230614,81.5404093 0.169728678,71.7355248 C2.30433995,57.9892394 5.17523654,44.3665411 10.5017353,31.4507569 C13.4112622,24.3902951 17.9005439,22.1123595 25.9602602,23.264075 C36.2931863,24.7379996 46.6008213,26.3877766 56.8286912,28.388769 C231.874549,62.6529099 303.80987,-4.64063699 467.442637,32.6307953 C478.823009,35.2244369 479.448899,36.9035664 476.50554,49.7326618 C466.610543,92.9170585 469.864833,86.5914426 432.015173,82.5459829 C300.756668,68.5142138 262.437262,107.051306 119.576042,95.9688835 C23.1199616,88.4849238 53.1223662,91.4061901 21.8653933,86.3092101 C21.9011863,86.1215539 21.9456493,85.9289088 21.9814424,85.7412526' transform='translate(0 -21)'/></svg>");
	--background-svg-dark: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 478 77'><path fill='%23383838' fill-rule='evenodd' d='M21.9814424,85.7412526 C7.4785772,81.8681694 -1.35230614,81.5404093 0.169728678,71.7355248 C2.30433995,57.9892394 5.17523654,44.3665411 10.5017353,31.4507569 C13.4112622,24.3902951 17.9005439,22.1123595 25.9602602,23.264075 C36.2931863,24.7379996 46.6008213,26.3877766 56.8286912,28.388769 C231.874549,62.6529099 303.80987,-4.64063699 467.442637,32.6307953 C478.823009,35.2244369 479.448899,36.9035664 476.50554,49.7326618 C466.610543,92.9170585 469.864833,86.5914426 432.015173,82.5459829 C300.756668,68.5142138 262.437262,107.051306 119.576042,95.9688835 C23.1199616,88.4849238 53.1223662,91.4061901 21.8653933,86.3092101 C21.9011863,86.1215539 21.9456493,85.9289088 21.9814424,85.7412526' transform='translate(0 -21)'/></svg>");
	--background-svg: var(--background-svg-light);
	position: relative;
	display: block;
	text-align: center;

	@at-root html[data-theme='dark'] & {
		--background-svg: var(--background-svg-dark);
	}

	> span {
		color: var(--normal-text);
		background: var(--background-svg);
		background-repeat: no-repeat;
		background-position: left center;
		background-size: cover;
		padding-left: calc(2 * var(--page-gap));
		padding-right: calc(2 * var(--page-gap));
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
		-moz-background-inline-policy: each-box;
		font-weight: inherit;
		position: relative;
		z-index: 1;
	}

	&.small span {
		padding-left: var(--page-gap);
		padding-right: var(--page-gap);
	}
}
