.link-highlight {
	padding: 0 10px;
	font-size: var(--font-size-small);
	font-weight: 400;
	color: var(--normal-text-inverse);
	display: inline-flex;
	align-items: center;
	background: transparent;

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: var(--grey);
		-webkit-mask-image: url('../assets/img/text-bg-light.svg');
		mask-image: url('../assets/img/text-bg-light.svg');
		-webkit-mask-size: 100% 30px;
		mask-size: 100% 30px;
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-origin: border-box;
		mask-origin: border-box;
		transition: background 100ms ease-in-out;
	}

	@at-root html[data-theme='dark'] &:not(.blue) {
		&::after {
			background: var(--black);
			mask-image: url('../assets/img/text-bg-dark.svg');
		}

		&:hover::after {
			background: var(--blue);
		}
	}

	&:hover {
		color: var(--normal-text-inverse);

		&::after {
			background: var(--link-color);
		}
	}

	&.blue {
		&::after {
			background: var(--blue);
		}

		&:hover::after {
			background: var(--link-hover);
		}

		svg {
			fill: var(--normal-text-inverse);
			margin-left: 2px;
			transform: translateY(-1px);
		}
	}

	svg {
		width: var(--icon-size-small);
		height: var(--icon-size-small);
	}
}
