/**
 * POSTS: CONTENT
 */
.article__content {
	.headline-anchor {
		font-size: inherit;
		font-weight: 500;
		color: rgba(0, 0, 0, .1);
		position: relative;
		top: -1px;
		margin-left: 10px;
		transition: color 150ms ease-in-out;
		&:hover { color: $red; }
	}

	h2, h3, h4, h5, h6 { &:hover a {
		color: $blue;
	} }

	p { 
		margin-bottom: 20px; 
	}

	code, kbd, pre, samp { 
		font-size: inherit; 
	}

	ul:not(.blog__list) {
		padding-left: 20px;
		margin-bottom: 20px;

		li {
			font-weight: 300;
			font-size: 18px;
			line-height: 30px;
		}
	}

	hr {
		border: none;
		border-top: 4px dashed rgba(0,0,0,.2);
		margin-top: 40px;
	}
}

/**
 * POSTS: HEADING
 */
.heading__preface {
	font-size: 32px;
	line-height: 20px;
	font-weight: 300;
	color: rgba(0,0,0,.5);
	margin-bottom: 15px;
	
	span {
		font-size: inherit;
		opacity: .5;
	}
}

.heading__published {
	font-weight: 300;
}

.heading__time {
	color: rgba(0,0,0,0.5);
	font-weight: 400;
}

.heading__reading-time {
	width: 30%;
	text-align: right;

	svg {
		width: 24px;
		height: 24px;
		fill: rgba(0,0,0,.3);
		vertical-align: middle;
		position: relative;
		top: -2px;
	}		
}

.heading__jump {
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	padding: 0 6px 0 8px;

	img {
		vertical-align: middle;
		width: 16px;
		opacity: .5;
		margin-left: 5px;
		transition: opacity 150ms ease-in-out;
	}
}

@media #{$tablet} {
	.heading__reading-time {
		width: 100%;
		text-align: left;

		span { display: inline; }
	}
}