/**
 * POSTS: GO TOP
 */
.article__upstairs {
	margin: 30px 10px 0 0;
	display: none;
	float: right;
	z-index: 1;
	line-height: 0;
	padding: 10px;

	.is-fixed & {
		display: block;
	}

	&:focus, &:active {
		outline: none;
	}

	svg {
		width: 32px;
		height: 32px;
	}
}