/**
 * POSTS: TABLE OF CONTENTS
 */
.article__toc {
	border-top: 2px solid rgba(0, 0, 0, .2);
	padding-top: 20px;

	.is-fixed & {
		border-color: transparent;
	}

	h1 {
		font-size: 18px;
		margin-bottom: 5px;
	}

	li {
		list-style: none;
	}

	a {
		font-size: 14px;
		color: rgba(0, 0, 0, .5);

		&:hover { color: $red; }
		
		&:before { 
			content: "§ ";
			font-size: 12px;
			position: relative;
			top: -2px;
		}
	}
}