/**
 * POSTS: TABLE OF CONTENTS
 */
.article__toc {
	padding-top: 20px;
	margin: 0 10px;

	.is-fixed & {
		border-top-color: transparent;
		border-bottom: 2px solid rgba(0,0,0,.2);
		padding-bottom: 20px;
	}

	h1 {
		font-size: 18px;
		margin-bottom: 15px;
		font-family: $Roboto;
		letter-spacing: 0;
	}

	li {
		list-style: none;
	}

	a {
		font-size: 14px;
		color: rgba(0, 0, 0, .5);

		&:hover { color: $red; }
		
		&:before { 
			content: "§ ";
			color: rgba(0, 0, 0, .5);
			font-size: 12px;
			position: relative;
			top: -2px;
		}
	}
}