---
layout: default
---

<div class="content-inner">
	<article itemscope itemtype="http://schema.org/Article" class="content-article container">
		<header>
			<h1 class="headline-highlight">
				<span>{{ page.title }}</h1>
			</h1>

			<ul class="article-info">
				<li>
					<span>Published</span>
					<span itemprop="datePublished">{{ page.date | date: "%d %B %Y" }}</span>
				</li>
				<li>
					<span>Categories</span>
					<span>{% for tag in page.tags %}#{{ tag }} {% endfor %}</span>
				</li>
			</ul>
		</header>

		{% if page.date | date: "%Y" === "2015" %}
			{% include article-outdated-warning.html %}
		{% endif %}

		<section itemtype="articleBody" class="article-body">
			{{ content }}
		</section>

		<section class="article-comments">
			<div itemprop="comment" id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_config = function () {
					this.page.url = '{{ site.url }}{{ page.url }}';
				};
				(function() {
					var d = document, s = d.createElement('script');
					s.src = '//morkro.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>
				Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
			</noscript>
		</section>
	</article>

	<section class="content-posts">
		<div class="posts-previous {% if page.previous.url %}active{% endif %}">
			{% if page.previous.url %}
			{% if page.previous.external %}
			<a href="{{page.previous.external.url}}" target="_blank" rel="noopener" class="posts-external">
			{% else %}
			<a href="{{page.previous.url}}">
			{% endif %}
				<span>Previous article</span>
				{{page.previous.title}}
				{% if page.previous.external %}
				<svg><use xlink:href="#new-window"></use></svg>
				{% endif %}
			</a>
			<svg><use xlink:href="#arrow-left"></use></svg>
			{% endif %}
		</div>
		<div class="posts-next {% if page.next.url %}active{% endif %}">
			{% if page.next.url %}
			{% if page.next.external %}
			<a href="{{page.next.external.url}}" target="_blank" rel="noopener" class="posts-external">
			{% else %}
			<a href="{{page.next.url}}">
			{% endif %}
				<span>Next article</span>
				{{page.next.title}}
				{% if page.next.external %}
				<svg><use xlink:href="#new-window"></use></svg>
				{% endif %}
			</a>
			<svg><use xlink:href="#arrow-right"></use></svg>
			{% endif %}
		</div>
	</section>
</div>
