@font-face {
	font-family: Roboto;
	font-display: swap;
	font-weight: 300;
	src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	font-weight: 300;
	font-style: italic;
	src: url("../assets/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	font-weight: 400;
	src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	src: url("../assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	font-weight: 500;
	src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: Roboto;
	font-display: swap;
	font-weight: 500;
	font-style: italic;
	src: url("../assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Mono";
	font-display: swap;
	font-weight: 300;
	src: url("../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Mono";
	font-display: swap;
	font-weight: 300;
	font-style: italic;
	src: url("../assets/fonts/RobotoMono-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Mono";
	font-display: swap;
	font-weight: 400;
	src: url("../assets/fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Mono";
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	src: url("../assets/fonts/RobotoMono-MediumItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Mono";
	font-display: swap;
	font-weight: 500;
	src: url("../assets/fonts/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto Mono";
	font-display: swap;
	font-weight: 500;
	font-style: italic;
	src: url("../assets/fonts/RobotoMono-BoldItalic.ttf") format("truetype");
}
