/**
 * Forms
 */
input {
	border: 2px solid rgb(0 0 0 / 20%);
	font-family: var(--font-roboto-mono), var(--font-courier);
	padding: 5px 15px;
	transition: border 150ms ease-in-out;

	&:hover {
		border: 2px solid rgb(0 0 0 / 30%);
	}

	&:active,
	&:focus {
		border: 2px solid rgb(0 0 0 / 50%);
		outline: none;
	}
}
