* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		transition-duration: 0ms !important;
		animation-duration: 0ms !important;
	}
}

@media screen and (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

html {
	width: 100vw;
	overflow-x: hidden;
	scrollbar-color: var(--black) var(--white);

	&[data-theme='dark'] {
		--blue: #5b8bfb; /* Better contrast ratio (a11y) */
		--background-content: var(--deep-grey);
		--background-highlight: var(--dark-grey2);
		--normal-text: var(--white);
		--meta-text: var(--grey);
		--special-text-color: var(--white);
		scrollbar-color: var(--white) var(--black);
	}
}

body {
	background-color: var(--background-base);
	font-family: var(--font-roboto), var(--font-myriad);
	font-weight: 300;
	font-size: var(--font-size-base);
	text-rendering: geometricprecision;

	/* Enable best font rendering */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	color: var(--normal-text);

	@media (--media-smaller-tablet) {
		border-width: calc(0.5 * var(--page-gap));
	}
}

/**
 * Use custom cursor
 */
@media (hover: hover) and (pointer: fine) {
	body {
		cursor: var(--cursor-default);
	}

	p,
	span,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	input,
	textarea {
		cursor: var(--cursor-text);
	}

	a,
	a *,
	button:not([aria-disabled='true']) {
		cursor: var(--cursor-pointer);
	}
}

::selection {
	background-color: var(--blue);
	color: var(--normal-text-inverse);
}

/**
 * A11y
 */
.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	&:focus {
		clip: auto;
		height: auto;
		overflow: auto;
		position: absolute;
		width: auto;
	}
}

.a11y-jump {
	padding: calc(0.5 * var(--page-gap)) var(--page-gap);
	font-weight: 400;
	z-index: 2;
	background: var(--background-highlight);
	top: var(--page-gap);
	left: var(--page-gap);
}

/**
 * Images
 * This is experimental and not fully supported in most browsers.
 * Anyway, I want to test this feature.
 */
img[src$='.jpg'],
img[src$='.png'] {
	image-rendering: crisp-edges;
}

img {
	width: 100%;
	height: auto;
}

/**
 * Page grid
 */
.container,
.container-large {
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--page-gap);
}

.container {
	max-width: var(--page-width);
}

.container-large {
	max-width: var(--page-width-large);
}
