/**
 * Headlines
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	text-wrap: balance;
	color: var(--text-color-highlight);
}

h1 {
	font-family: var(--font-roboto), var(--font-courier);
	font-size: var(--font-size-super);
	font-weight: 400;
	line-height: 120%;
}

h2 {
	font-size: var(--font-size-large);
	line-height: 38px;
	font-weight: 500;
}

h3 {
	font-size: var(--font-size-medium);
	font-weight: 400;
}

/**
 * Copy
 */
p,
span,
a,
address,
button,
li {
	font-weight: 300;
	line-height: var(--line-height-base);
}

p {
	color: var(--text-color-base);
	text-wrap: balance;
}

b,
strong {
	font-weight: 400;
}

em {
	font-weight: 300;
}

blockquote {
	margin-bottom: calc(2 * var(--gap-base));
	width: 110%;
	transform: translateX(-5%);
	background: var(--background-highlight);
	border-left: 10px solid var(--shade-of-grey-medium);
	padding: 15px 5%;
	font-style: italic;

	@media (width <= 768px) {
		width: calc(100% + 40px); /* Double of .container padding */
		transform: translateX(-20px);
		padding: 15px 20px;
	}
}

/**
 * Links
 */
a {
	position: relative;
	text-decoration: none;
	color: var(--link-color);
	z-index: 1;
	transition: color 100ms ease-in-out;

	&:not(.anim-underline, .btn) {
		text-decoration: underline;
		text-decoration-color: var(--background-highlight);
		text-decoration-thickness: var(--border-width-large);
	}

	&:hover {
		color: var(--link-hover);
	}

	&:active {
		background: var(--background-highlight);
		outline: none;
	}

	&:focus {
		border-radius: var(--radius-base);
		outline: var(--border-width-base) dashed var(--blue);
	}

	& svg {
		display: inline-block;
		vertical-align: baseline;
	}
}

/**
 * Code
 */
pre:not([data-language], [class^="language-"]),
code:not([data-language], [class^="language-"]),
kbd,
samp {
	background: var(--background-highlight);
	padding: 2px 4px;
	font-family: var(--font-roboto-mono), var(--font-courier);
	font-size: var(--font-size-small);
	font-weight: 400;
	vertical-align: baseline;
	white-space: nowrap;
	border-radius: var(--radius-base);
	box-shadow: 2px 2px 0 var(--text-color-meta);
}
