:root {
	/* COLOR */
	--light-grey: #ebebeb;
	--medium-grey: #f1f1f1;
	--grey: #a1a1a1;
	--dark-grey2: #383838;
	--dark-grey: #292822;
	--deep-grey: #242424;
	--shade-of-grey-light: rgba(0, 0, 0, 0.05);
	--shade-of-grey-medium: rgba(0, 0, 0, 0.1);
	--shade-of-grey-dark: rgba(0, 0, 0, 0.5);
	--blue: #3652cf;
	--orange: #ff7c00;
	--black: black;
	--white: white;

	--background-base: var(--black);
	--background-content: var(--medium-grey);
	--background-highlight: var(--white);
	--link-color: var(--blue);
	--link-hover: var(--orange);
	--normal-text: var(--black);
	--meta-text: var(--shade-of-grey-dark);
	--normal-text-inverse: var(--white);
	--special-text-color: var(--black);

	/* TYPOGRAPHY */
	--font-roboto: 'Roboto', sans-serif;
	--font-roboto-mono: 'Roboto Mono', monospace;
	--font-myriad: 'Myriad Pro', Myriad, Arial, sans-serif;
	--font-courier: 'Courier', Andale Mono, monospace;
	--font-size-small: 90%; /* 16px */
	--font-size-base: 18px;
	--font-size-medium: 115%; /* 20px */
	--font-size-large: 167%; /* 30px */
	--font-size-super: 555%; /* 100px */

	/* DIMENSIONS */
	--base-gap: 75px;
	--base-radius: 4px;
	--base-width: 920px;
	--base-width-large: 1040px;

	--page-gap: 15px;
	--page-width: calc(var(--base-width) + (2.5 * var(--page-gap)));
	--page-width-large: calc(var(--base-width-large) + (2.5 * var(--page-gap)));

	--icon-size: 30px;
	--icon-size-small: calc(0.75 * var(--icon-size));

	/* EASINGS */
	--ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

	/* QUERIES */
	@custom-media --media-smaller-tablet (max-width: 768px);
	@custom-media --media-smaller-500 (max-width: 500px);

	@media (--media-smaller-tablet) {
		--font-size-base: 16px;
	}
}
