:root {
	/* COLOR */
	--light-grey: #ebebeb;
	--medium-grey: #f1f1f1;
	--grey: #a1a1a1;
	--dark-grey2: #383838;
	--dark-grey: #292822;
	--deep-grey: #242424;
	--shade-of-grey-light: rgb(0 0 0 / 5%);
	--shade-of-grey-medium: rgb(0 0 0 / 10%);
	--shade-of-grey-dark: rgb(0 0 0 / 50%);
	--blue: #3652cf;
	--orange: #ff7c00;
	--black: black;
	--white: white;
	--background-base: var(--black);
	--background-content: var(--medium-grey);
	--background-highlight: var(--white);
	--text-color-base: var(--black);
	--text-color-base-inverse: var(--white);
	--text-color-highlight: var(--blue);
	--text-color-meta: var(--shade-of-grey-dark);
	--link-color: var(--blue);
	--link-hover: var(--orange);

	/* TYPOGRAPHY */
	--font-roboto: "Roboto", sans-serif;
	--font-roboto-mono: "Roboto Mono", monospace;
	--font-myriad: "Myriad Pro", myriad, arial, sans-serif;
	--font-courier: "Courier", andale mono, monospace;
	--font-size-tiny: 70%; /* 14px */
	--font-size-small: 90%; /* 16px */
	--font-size-base: 18px;
	--font-size-medium: 115%; /* 20px */
	--font-size-large: 167%; /* 30px */
	--font-size-super: 555%; /* 100px */

	/* DIMENSIONS */
	--gap-base: 20px;
	--gap-small: calc(var(--gap-base) / 4); /* 5px */
	--gap-medium: calc(2.25 * var(--gap-base)); /* 45px */
	--gap-large: calc(3.75 * var(--gap-base)); /* 75px */
	--radius-base: 4px;
	--container-width-base: 920px;
	--container-width-large: 1040px;
	--border-width-base: 2px;
	--border-width-large: calc(2 * var(--border-width-base));
	--page-width: calc(var(--container-width-base) + (2 * var(--gap-base)));
	--page-width-large: calc(var(--container-width-large) + (2 * var(--gap-base)));
	--icon-size: 30px;
	--icon-size-small: calc(0.75 * var(--icon-size));

	/* EASINGS */
	--ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);

	/** CURSOR */
	--cursor-default: url("data:image/svg+xml,%3Csvg width='22' height='27' viewBox='0 0 22 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.84462 25L2 2L20 15.9471L10.811 17.7895L4.84462 25Z' fill='white' stroke='black' stroke-width='3' stroke-linejoin='round'/%3E%3C/svg%3E"),
		auto;
	--cursor-text: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='27' fill='none'%3E%3Cpath fill='%23000' stroke='%23fff' stroke-width='1.5' d='M11 4.968h.75V1.409l-.655-.084a9.847 9.847 0 0 0-2.341.012c-.733.093-1.56.29-2.264.695-.89-.486-2.498-.973-4.585-.707l-.655.084v3.535l.726.023c.534.017 1.327.075 1.973.186.262.045.472.094.622.143v6.372H1.25v3.648h3.321v6.352a2.408 2.408 0 0 1-.311.114c-.434.13-1.152.25-2.26.25h-.75V25.59l.655.084c.548.07 1.426.104 2.341-.011.733-.093 1.56-.29 2.264-.695.89.486 2.498.973 4.585.706l.655-.083v-3.535l-.726-.023a15.764 15.764 0 0 1-1.973-.186 4.618 4.618 0 0 1-.622-.143v-6.388h3.321v-3.648H8.429V5.332c.075-.034.177-.074.311-.114.434-.13 1.152-.25 2.26-.25Zm-6.27 16.61a.051.051 0 0 1 0 0ZM8.27 5.422Z'/%3E%3C/svg%3E"),
		auto;
	--cursor-pointer: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='29' fill='none'%3E%3Cpath fill='%23fff' d='M1.78 14.919c1.658-1.804 4.145.752 5.18 2.255V3.32c0-.773.454-2.32 2.267-2.32 1.814 0 2.224 1.547 2.202 2.32v7.024c0-.645.389-1.933 1.943-1.933s2.116 1.288 2.202 1.933c.086-.645.609-1.933 2.007-1.933 1.4 0 2.008 1.288 2.137 1.933v2.375c.033-1.063.306-2.375 2.138-2.375 1.865 0 2.201 1.675 2.137 2.513v8.248c0 3.609-4.08 6.895-8.42 6.895-3.47 0-5.806-1.718-6.54-2.578L3.4 19.816c-1.101-1.095-3.691-2.642-1.62-4.897Z'/%3E%3Cpath stroke='%23000' stroke-linejoin='round' stroke-width='2' d='M11.43 13.501v-3.157m0 0V3.32C11.45 2.547 11.04 1 9.226 1 7.414 1 6.961 2.547 6.961 3.32v13.854c-1.036-1.503-3.523-4.06-5.181-2.255-2.072 2.255.518 3.802 1.619 4.897l5.634 5.606c.734.86 3.07 2.578 6.54 2.578 4.34 0 8.42-3.286 8.42-6.895v-8.248c.064-.838-.272-2.513-2.137-2.513-2.332 0-2.138 2.126-2.138 3.157v-3.157c-.129-.645-.738-1.933-2.137-1.933-1.398 0-1.92 1.288-2.007 1.933m-4.145 0c0-.645.389-1.933 1.943-1.933s2.116 1.288 2.202 1.933m0 0V13.5'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-width='2' d='m11.658 16.589.546 4.917M15.366 17.1l.546 4.917M19.074 17.739l.547 4.918'/%3E%3C/svg%3E"),
		auto;
	--cursor-grab: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27' fill='none'%3E%3Cpath fill='%23fff' d='M1.78 12.919c1.658-1.805 4.145.752 5.18 2.255l-2-9.854c0-.774.454-2.32 2.267-2.32 1.728 0 2.7 1.404 2.77 2.205C9.955 4.442 9.63 2.39 12 2c3.454-.567 3.488 3.356 3.574 4C15.66 5.356 15 1.41 19 2.41c2.358.59 1.668 2.91 1.5 4.09l-.6 3.841c.338-1.752 1.021-3.28 2.956-2.997 1.845.269 2.201 1.675 2.137 2.513 0 1.546-1 6.361-1 9.248 0 3.608-4.08 6.895-8.42 6.895-3.47 0-5.806-1.718-6.54-2.578L3.4 17.816c-1.101-1.095-3.691-2.642-1.62-4.897Z'/%3E%3Cpath stroke='%23000' stroke-linejoin='round' stroke-width='2' d='M10 5.32C10.022 4.546 9.04 3 7.227 3 5.414 3 4.961 4.546 4.961 5.32l2 9.854c-1.036-1.503-3.523-4.06-5.181-2.255-2.072 2.255.518 3.802 1.619 4.897l5.634 5.606c.734.86 3.07 2.578 6.54 2.578 4.34 0 8.42-3.287 8.42-6.895 0-2.887 1-7.702 1-9.248.064-.838-.292-2.244-2.137-2.513C20.5 7 20 9.339 19.718 11.5L20.5 6.5c.168-1.18.858-3.5-1.5-4.09-4-1-3.34 2.946-3.426 3.59M10 5.32l1.43 6.181M10 5.32c0-.645-.5-2.91 2-3.32 3.454-.567 3.488 3.356 3.574 4m0 0V11.5'/%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-width='2' d='m11.658 14.589.546 4.917M15.366 15.1l.546 4.917M19.074 15.739l.547 4.918'/%3E%3C/svg%3E"),
		auto;

	@media (width <= 768px) {
		--font-size-base: 16px;
	}
}
