/**
 * FONT-FACE
 */
@include font-face("Roboto", "../assets/fonts/Roboto-Thin", 100);
@include font-face("Roboto", "../assets/fonts/Roboto-ThinItalic", 100, italic);
@include font-face("Roboto", "../assets/fonts/Roboto-Light", 200);
@include font-face("Roboto", "../assets/fonts/Roboto-LightItalic", 200, italic);
@include font-face("Roboto", "../assets/fonts/Roboto-Regular", 300);
@include font-face("Roboto", "../assets/fonts/Roboto-Italic", 300, italic);
@include font-face("Roboto", "../assets/fonts/Roboto-Medium", 400);
@include font-face("Roboto", "../assets/fonts/Roboto-MediumItalic", 400, italic);
@include font-face("Roboto", "../assets/fonts/Roboto-Bold", 500);
@include font-face("Roboto", "../assets/fonts/Roboto-BoldItalic", 500, italic);
@include font-face("Roboto", "../assets/fonts/Roboto-Black", 600);
@include font-face("Roboto", "../assets/fonts/Roboto-BlackItalic", 600, italic);

@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-Thin", 100);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-ThinItalic", 100, italic);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-Light", 200);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-LightItalic", 200, italic);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-Regular", 300);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-Italic", 300, italic);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-Medium", 400);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-MediumItalic", 400, italic);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-Bold", 500);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-BoldItalic", 500, italic);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-Black", 600);
@include font-face("Roboto Mono", "../assets/fonts/RobotoMono-BlackItalic", 600, italic);

// ONT-FAMILY VARIABLES
:root {
  --font-roboto:	"Roboto", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
  --font-myriad:	"Myriad Pro", Myriad, Arial, sans-serif;
  --font-courier: "Courier", Andale Mono, monospace;
}