* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $background-color;
	font-family: $Roboto;
	font-weight: 300;
	font-size: 16px;
	// Enable best font rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.keyword-js {
	position: relative;
	padding-right: 17px;

	&.js-large { padding-right: 24px; }

	&::after {
		position: absolute;
		content: "";
		background-image: url(../../assets/icons/js.svg);
		background-size: 18px 18px;
		width: 18px;
		height: 18px;
		right: -2px;
		top: -1px;
	}

	&.js-large::after {
		background-size: 24px 24px;
		width: 24px;
		height: 24px;
		right: -2px;
		top: 0;
	}
}

/**
 * Forms
 */
input {
	border: 2px solid rgba(0,0,0,0.2);
	font-family: $RobotoMono;
	padding: 5px 15px;
	transition: border 150ms ease-in-out;

	&:hover {
		border: 2px solid rgba(0,0,0,0.3);
	}

	&:active, &:focus {
		border: 2px solid rgba(0,0,0,0.5);
		outline: none;
	}
}

/**
 * Images
 * This is experimental and not fully supported in most browsers.
 * Anyway, I want to test this feature.
 */
img[src$=".jpg"], img[src$=".png"] {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}

img {
	width: 100%;
	height: auto;
}