/**
 * 404
 */
.template-404 .headline-gradient {
	margin-bottom: $base-gap;

	h1 {
		background-position: center top 35px;
	}
}

.template-404 {
	#page-header {
		background: linear-gradient(to left, $content-background 55%, white 55%);
	}
	#page-content {
		background: linear-gradient(to right, $content-background 55%, white 55%);
	}
	#page-footer {
		background: linear-gradient(to left, black 55%, $dark-grey 55%);
	}
}

.content-404 {
	padding-bottom: $base-gap;
	text-align: center;

	a:hover svg {
		transform: translateX(25%);
	}

	svg {
		width: 30px;
		height: 30px;
		vertical-align: middle;
		transform: translateX(0);
		transition: transform 150ms $easeOutBack;
	}
}
