/**
 * PAGE: 404
 */
.error__form {
	margin-top: 30px;
	display: flex;
	align-items: center;

	h2 {
		margin-bottom: 0;
	}
}

.error__gate {
	display: flex;
	align-items: center;
	margin-left: 30px;

	input {
		margin-right: 15px;
		width: 50%;
	}
}

.error__secret {
	position: relative;
	padding-right: 20px;

	&::after {
		position: absolute;
		content: "";
		background-image: url(../../assets/icons/sign.svg);
		background-size: 18px 18px;
		width: 18px;
		height: 18px;
		right: -2px;
		top: 1px;
	}
}

@media all and (max-width: 1100px) {
	.error__caption {
		width: 60%;
	}

	.error__gate {
		margin-left: 20px;
	}
}

@media all and (max-width: 630px) {
	.error__form {
		flex-wrap: wrap;
	}

	.error__caption,
	.error__gate {
		width: 100%;
	}

	.error__caption {
		margin-bottom: 30px;
	}

	.error__gate {
		margin: 0;
	}
}