/**
 * ABOUT
 */
.about-intro {
	margin-top: var(--base-gap);
	position: relative;
	z-index: 1;

	p {
		font-size: 160%;
		font-weight: 400;
		line-height: 150%;
		color: var(--special-text-color);

		@include media('<=tablet') {
			font-size: 140%;
			line-height: 30px;
		}
	}

	a {
		display: inline-block;
		margin-top: 12px;

		&:hover svg {
			transform: translateY(25%);
		}

		@include media('<=tablet') {
			display: none;
		}
	}

	svg {
		width: 30px;
		height: 30px;
		transform: translateY(0);
		transition: transform 150ms var(--ease-out-back);
	}
}

.about-photo {
	margin-top: -90px;
	margin-bottom: 50px;

	@include media('<=tablet') {
		margin-top: 50px;
	}
}

.about-text {
	margin-bottom: var(--base-gap);

	p:not(:last-of-type) {
		margin-bottom: calc(var(--page-gap) * 2);
	}

	> div:not(.special-info) {
		display: flex;
		flex-direction: row;

		@include media('<=tablet') {
			display: block;
		}

		&:not(:last-of-type) {
			margin-bottom: calc(var(--page-gap) * 2);
		}

		&:hover .about-mark svg {
			fill: var(--blue);
		}
	}
}

.about-mark {
	margin-right: 50px;
	padding-top: 5px;

	@include media('<=tablet') {
		margin: 0 auto calc(var(--page-gap) * 2);
		padding-top: 0;
		text-align: center;
	}

	svg {
		width: 35px;
		height: 35px;
		fill: var(--shade-of-grey-dark);
		transition: fill 150ms ease-in-out;
	}
}

.about-travels {
	width: 100%;
	background: white;
	padding: 45px 0 var(--base-gap);
	overflow-x: hidden;

	.headline-gradient {
		margin-bottom: var(--base-gap);
	}

	.travels-map {
		display: block;
		max-width: 90%;
		margin: var(--base-gap) auto 0;
		transform: translateX(3%);

		@include media('<=tablet') {
			margin-bottom: calc(var(--page-gap) * 2);
		}
	}
}

.travels-next {
	display: none;
	text-align: center;

	svg {
		width: 35px;
		height: 35px;
		display: inline-block;
		vertical-align: middle;
		transform: translateY(-2px);
	}

	span:not(.travels-nextcity) {
		color: var(--shade-of-grey-dark);
		font-style: italic;
	}
}
