/**
 * PAGE: ABOUT
 */
.about__introduction {
	span:not(.keyword-js) {
		font-style: italic;
		color: rgba(0, 0, 0, .5);
	}

	.keyword-js::after {
		top: -2px;
	}
}

.about__projects {
	list-style: none;
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	li {
		width: 48%;
		margin-bottom: 30px;
	}
}