/**
 * PAGE: BLOG
 */
.content-blog .content-heading {
	margin-bottom: 25px;
}

.blog__list {
	list-style: none;
	margin-top: 25px;

	li {
		margin-bottom: 20px;
		border-bottom: 2px dashed rgba(0, 0, 0, .2);
		position: relative;

		&:last-child {
			border: none;
		}
	}

	a {
		position: relative;
		font-family: $RobotoMono;
		display: block;
		width: 100%;
		padding: 15px 20px;
		margin-bottom: 20px;

		&:visited::after {
			color: #737373;
			background-color: #e6e6e6;
		}

		&::after {
			content: "✔";
			font-size: 14px;
			line-height: 20px;
			padding: 0px 4px;
			color: white;
			position: absolute;
			left: -25px;
			top: 16px;
			background-color: white;
			border-radius: 2px;
		}
	}

	h2 {
		font-size: 26px;
		font-weight: 400;
		margin: 0;
	}

	span:not(.item__tags):not(.item__excerpt) {
		display: block;
		font-size: 18px;
		font-weight: 400;
		color: rgba(0, 0, 0, .5);
	}

	.item__tags, .item__excerpt {
		color: rgba(0,0,0,.3);
	}

	.item__tags {
		display: inline;
		font-size: 14px;
		font-weight: 400;
	}

	.item__excerpt {
		display: block;
		font-size: 14px;
		font-weight: 300;
		line-height: 22px;
		margin-top: 5px;
	}
}

.blog__paginator {
	display: flex;
	justify-content: center;

	button, a {
		margin: 0 20px;
	}
}