/**
 * IMPRINT
 */
.imprint__wrap {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;

	h2 {
		margin: 0 0 20px;

		span {
			font-size: inherit;
			color: rgba(0, 0, 0, .3);
		}
	}

	svg {
		fill: #B3B3B3;
		width: 24px;
		height: 24px;
		transform: translateY(2px);
	}

	address {
		font-style: inherit;
	}
}

.imprint__address,
.imprint__contact {
	width: 50%;
}

.imprint__more {
	margin-top: 50px;
	width: 100%;
}

@media #{$tablet} {
	.imprint__address,
	.imprint__contact {
		width: 100%;
	}

	.imprint__contact {
		margin-top: 50px;
	}
}