/**
 * IMPRINT
 */
$imprint-left-column: 25%;
$imprint-right-column: 75%;

.imprint-wrap {
   display: flex;
   padding-bottom: $base-gap;

   @include media("<=tablet") {
      display: block;
   }

   h2 {
      margin-bottom: 15px;
   }
}

.imprint-info {
   width: $imprint-left-column;
   text-align: right;

   @include media("<=tablet") {
      width: 100%;
      margin-bottom: 30px;
      text-align: left;
   }
}

.imprint-services {
   padding-left: 60px;
   width: $imprint-right-column;

   @include media("<=tablet") {
      width: 100%;
      padding-left: 0;
   }
}