/**
 * PAGE: INDEX
 */
#main-content.content-index {
	justify-content: space-between;

	article {
		width: 55%;
	}

	aside {
		width: 40%;
		padding-right: 0;
	}

	.content__heading {
		margin-bottom: 10px;
	}

	h2 {
		margin: 30px 0 10px;
		font-size: 24px;
	}
}

.content-index .aside__navigation {
	text-align: left;

	&::after {
		height: 75%;
	}

	p {
		font-size: 22px;
		line-height: 30px;
		padding: 0 20px;
	}

	.keyword-js {
		padding-right: 24px;

		&::after{
			background-size: 24px 24px;
			width: 24px;
			height: 24px;
			right: -2px;
			top: 0;
		}
	}
}

.content-index .aside__author {
	h1 {
		bottom: 15px;
		padding: 0 20px;
		letter-spacing: -2px;
		font-size: 38px;
  		line-height: 50px;
  		letter-spacing: -2px;
	}
}

/* SECTION: WRITING */
.writing__browsemore {
	margin-top: 10px;
	font-size: 14px;

	svg {
		width: 24px;
		height: 24px;
		fill: rgba(0, 0, 0, .5);
		vertical-align: middle;
	}
}

/* SECTION: WORK */
.index__work {
	margin-top: 50px;
}