/**
 * INSTAGRAM
 */
@keyframes rotate {
	from {
		transform: rotate(0deg);
		transform-origin: center;
	}
	to {
		transform: rotate(180deg);
		transform-origin: center;
	}
}

.instagram-list {
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
	grid-auto-rows: 25vw;
	list-style: none;
	margin-top: var(--base-gap);

	&.is-loading {
		grid-gap: var(--page-gap);

		li {
			background: white;

			&:after {
				content: "";
				display: block;
				background-image: url('/../assets/icons/sun.svg');
				background-size: contain;
				background-position: center;
				width: 10%;
				height: 10%;
				animation-name: rotate;
				animation-duration: 1s;
				animation-iteration-count: infinite;
			}
		}
	}

	@include media('<=tablet') {
		grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
		grid-auto-rows: 50vw;
	}

	li {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	a {
		display: block;
    width: 100%;
		height: 100%;
		position: relative;

		&::before {
			content: "";
			opacity: 0;
			position: absolute;
			width: calc(8px + 100%);
			height: calc(8px + 100%);
			transform: translate(-4px, -4px);
			border: 8px solid transparent;
			box-sizing: border-box;
			border-image: linear-gradient(
				to right,
				var(--gradient-start),
				var(--gradient-end)
			);
			border-image-slice: 1;
		}

		&:hover,
		&:focus {
			z-index: 10;
		}

		&:hover::before,
		&:focus::before {
			opacity: 1;
		}
	}

	img {
		object-fit: cover;
    width: 100%;
    height: 100%;
	}
}
