/**
 * PROJECTS
 */
$project-preview-width: 100px;
$project-preview-gap: 30px;

.template-projects h2 {
	font-family: var(--font-roboto-mono);
	letter-spacing: -1px;
}

.template-projects .headline-gradient + p {
	margin-top: var(--base-gap);
}

.template-projects .project-stars {
	display: none;
	justify-content: flex-end;
	align-items: center;
	align-content: flex-end;
	font-size: 70%;
	font-weight: 500;
	color: var(--special-text-color);

	svg {
		width: 16px;
		height: 16px;
		margin-left: 2px;
	}
}

.projects-featured {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: var(--base-gap);
	margin-bottom: var(--base-gap);

	@include media('<=tablet') {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	li {
		width: 32%;
		background: white;
		border-radius: calc(var(--base-radius) / 2);
		transition: box-shadow 250ms var(--ease-out-back), transform 250ms var(--ease-out-back);

		&:hover {
			transform: scale(1.01);
			box-shadow: var(--base-shadow);
		}

		@include media('<=tablet') {
			width: 100%;
			margin-bottom: var(--page-gap);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		padding: var(--page-border);
	}

	h3 {
		font-size: 140%;
		margin-bottom: 10px;
		display: none;
	}

	p {
		font-size: 16px;
		line-height: 24px;

		@include media('<=tablet') {
			margin-top: var(--page-gap);
		}
	}
}

.project-image {
	padding: var(--page-border);
	background: var(--shade-of-grey-light);
	margin-bottom: var(--page-border);
	min-height: 90px;
	display: flex;
	align-items: center;
}

.projects-list {
	width: 100%;
	list-style: none;
	margin-top: var(--base-gap) - 50px;
	padding-bottom: var(--base-gap);

	li {
		margin-bottom: 10px;
		background-color: white;
		width: 100%;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.project-stars {
		margin-left: var(--page-gap);
	}

	h3 {
		font-size: 100%;
		margin-right: var(--page-gap);
	}

	a {
		display: flex;
		justify-content: space-between;
		padding: var(--page-border);

		@include media('<=tablet') {
			flex-direction: column;
		}

		div {
			display: flex;
			align-items: center;

			@include media('<=tablet') {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}

	p {
		font-size: 16px;
		line-height: 24px;
	}
}
