/**
 * PROJECTS
 */
$project-preview-width: 100px;
$project-preview-gap: 30px;

.template-projects .headline-gradient + p {
   margin-top: $base-gap;
}

.projects-banner {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: $base-gap;
	margin-bottom: $base-gap;

	li {
		width: 32%;
		background: white;
		border-radius: $base-radius / 2;
		transition: box-shadow 250ms $easeOutBack;

		&:hover {
			box-shadow: 0 0 25px rgba(0, 0, 0, .15);
		}
	}

	a {
		display: block;
		padding: 15px;
	}

	h3 {
		font-size: 140%;
		margin-bottom: 10px;
		display: none;
	}

	p {
		font-size: 16px;
		line-height: 24px;
	}

	.project-stars {
		display: none;
		justify-content: flex-end;
		align-items: center;
		align-content: flex-end;
		font-size: 70%;
		font-weight: 500;
		color: $special-text-color;

		svg {
			width: 16px;
			height: 16px;
			margin-left: 2px;
		}
	}
}

.projects-list {
   width: 100%;
   list-style: none;
   margin-top: $base-gap;

   li {
      margin-bottom: 10px;
      background-color: white;
      width: 100%;
      display: flex;

      &:last-child {
        margin-bottom: 0;
      }
   }

   img {
      width: 300px;
      float: left;
      margin-right: 30px;

      @include media("<=tablet") {
         display: none;
      }
   }

   a {
      display: block;
      margin: 0 auto;
      padding: 30px $page-padding;
      position: relative;
      @extend .container;
   }

   h2 {
      margin: 0 0 10px;
      font-family: $RobotoMono;
      font-size: 145%;
      line-height: 24px;
      letter-spacing: -1px;
   }

   p {
      margin-top: 0;
      color: $shade-of-grey-dark;
      font-size: 85%;
      line-height: 24px;
      padding-left: 330px;

      @include media("<=tablet") {
         padding-left: 0;
      }
   }
}
