---
layout: default
title: Projects | Moritz Kröger
classes: projects
---
<div class="container">
	<div class="headline-gradient">
		<h1 itemprop="title" title="Open source projects">Open Source</h1>
	</div>

	<p>
		Working with software on the web, and especially on the front-end side, means working with open source. All my knowledge comes from the shared thoughts and projects of other developer. Hence, giving back is key for me. All my projects are publicly available, can be forked, modified, and contributed to.
	</p>

	<ul itemscope itemtype="http://schema.org/ItemList" class="projects-banner">
		{% for project in site.data.projects.banner %}
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="project-{{ project.title | downcase | replace:' ','' }} {% if project.img %}has-image{% endif %}">
			{% if project.img %}
			<div class="project-image">
				<img itemprop="image" src="{{ project.img }}" alt="{{ project.title }} logo">
			</div>
			{% endif %}
			<a itemprop="url" href="{{ project.url }}" target="_blank">
				<h3 itemprop="name">{{ project.title }}</h3>
				<p itemprop="description">{{ project.description }}</p>
				<span class="project-stars"><svg><use xlink:href="#star"></use></svg></span>
			</a>
		</li>
		{% endfor %}
	</ul>

	<h2>Take a look at other projects</h2>

	<ul class="projects-list">
		{% for project in site.data.projects.list %}
		<li>
			<h3>{{ project.title }}</h3>
		</li>
		{% endfor %}
	</ul>
</div>
