---
---

@charset "UTF-8";

@import 'utils/index';

/**
 * 404
 */
.template-404 .headline-highlight {
	margin-bottom: var(--base-gap);
}

.template-404 {
	#page-header {
		background: linear-gradient(
			to left,
			var(--background-content) 55%,
			var(--background-highlight) 55%
		);
	}

	#content {
		background: linear-gradient(
			to right,
			var(--background-content) 55%,
			var(--background-highlight) 55%
		);
	}

	#page-footer {
		background: linear-gradient(
			to left,
			var(--background-base) 55%,
			var(--dark-grey) 55%
		);
	}
}

.content-404 {
	padding-bottom: var(--base-gap);
	text-align: center;

	a:hover svg {
		transform: translateX(25%);
	}

	svg {
		fill: var(--normal-text);
		width: var(--icon-size);
		height: var(--icon-size);
		vertical-align: middle;
		transform: translateX(0);
		transition: transform 150ms var(--ease-out-back);
	}
}
