@layer pages {
	.template-404 {
		display: flex;
	}

	.template-404 #content {
		background-color: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		color: var(--white);

		p {
			color: var(--white);
		}
	}

	.template-404 .content-inner {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--gap-base);
	}
}
