---
---

@charset "UTF-8";

@import 'utils/index';

/**
 * ABOUT
 */
.about-intro {
	margin-top: var(--base-gap);
	position: relative;
	z-index: 1;

	p {
		font-size: 160%;
		font-weight: 400;
		line-height: 150%;
		color: var(--special-text-color);

		@include media('<=tablet') {
			font-size: 140%;
			line-height: 30px;
		}
	}

	a {
		display: inline-block;
		margin-top: 12px;

		&:hover svg {
			transform: translateY(25%);
		}

		@include media('<=tablet') {
			display: none;
		}
	}

	svg {
		width: 30px;
		height: 30px;
		transform: translateY(0);
		transition: transform 150ms var(--ease-out-back);
	}
}

.about-photo {
	margin-top: -90px;
	margin-bottom: 50px;

	@include media('<=tablet') {
		margin-top: 50px;
	}
}

.about-text {
	margin-bottom: var(--base-gap);

	p:not(:last-of-type) {
		margin-bottom: calc(var(--page-gap) * 2);
	}

	> div:not(.special-info) {
		display: flex;
		flex-direction: row;

		@include media('<=tablet') {
			display: block;
		}

		&:not(:last-of-type) {
			margin-bottom: calc(var(--page-gap) * 2);
		}

		&:hover .about-mark svg {
			fill: var(--blue);
		}
	}

	.logo-link img {
		display: inline-block;
		width: 18px;
		height: 18px;
		border-radius: 2px;
		transform: translateY(2px);
	}
}

.about-mark {
	margin-right: 50px;
	padding-top: 5px;

	@include media('<=tablet') {
		margin: 0 auto calc(var(--page-gap) * 2);
		padding-top: 0;
		text-align: center;
	}

	svg {
		width: 35px;
		height: 35px;
		fill: var(--shade-of-grey-dark);
		transition: fill 150ms ease-in-out;
	}
}

.about-travels {
	width: 100%;
	background: white;
	padding: 45px 0 var(--base-gap);
	overflow-x: hidden;

	.headline-gradient {
		margin-bottom: var(--base-gap);
	}

	.travels-map {
		display: block;
		max-width: 90%;
		margin: var(--base-gap) auto 0;
		transform: translateX(3%);

		@include media('<=tablet') {
			margin-bottom: calc(var(--page-gap) * 2);
		}
	}
}

.about-plants {
	margin-top: 45px;
	text-align: center;

	.headline-gradient {
		margin-bottom: var(--base-gap);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
		transform-origin: center;
	}
	to {
		transform: rotate(180deg);
		transform-origin: center;
	}
}

.instagram-list {
	display: grid;
	grid-gap: var(--page-gap);
	grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
	grid-auto-rows: 25vw;
	list-style: none;
	margin-top: var(--base-gap);

	&.is-loading {
		li {
			background: white;

			&:after {
				content: '';
				display: block;
				background-image: url('/../assets/icons/sun.svg');
				background-size: contain;
				background-position: center;
				width: 10%;
				height: 10%;
				animation-name: rotate;
				animation-duration: 1s;
				animation-iteration-count: infinite;
			}
		}
	}

	@include media('<=tablet') {
		grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
		grid-auto-rows: 50vw;
	}

	li {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;

		&::before {
			content: '';
			opacity: 0;
			position: absolute;
			width: calc(8px + 100%);
			height: calc(8px + 100%);
			transform: translate(-4px, -4px);
			border: 8px solid transparent;
			box-sizing: border-box;
			border-image: linear-gradient(
				to right,
				var(--gradient-start),
				var(--gradient-end)
			);
			border-image-slice: 1;
		}

		&:hover,
		&:focus {
			z-index: 10;
		}

		&:hover::before,
		&:focus::before {
			opacity: 1;
		}
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
