---
---

@charset "UTF-8";

@import 'utils/index';

/**
 * ABOUT
 */
.about-title {
	display: flex;
	justify-content: center;

	h1 {
		margin: 0;
		margin-top: var(--base-gap);
	}
}

.about-intro {
	margin-top: var(--base-gap);
	position: relative;
	z-index: 1;

	p {
		font-size: var(--font-size-large);
		font-weight: 400;
		line-height: 150%;
		color: var(--special-text-color);
	}

	a {
		display: inline-block;
		margin-top: 12px;

		&:hover svg {
			transform: translateY(25%);
		}

		@include media('<=tablet') {
			display: none;
		}
	}

	svg {
		fill: var(--normal-text);
		width: var(--icon-size);
		height: var(--icon-size);
		transform: translateY(0);
		transition: transform 150ms var(--ease-out-back);
	}
}

.about-photo {
	margin-top: -90px;
	margin-bottom: 50px;
	// height: 669px; /* Height of image */
	position: relative;
	z-index: 0;

	@include media('<=tablet') {
		margin-top: 50px;
	}

	svg:not(.about-photo-shape) {
		position: absolute;
		z-index: 1;

		@include media('<=1080px') {
			display: none;
		}

		&.photo-top-left {
			top: 0;
			left: 0;
		}

		&.photo-bottom-right {
			bottom: -1%;
			right: 8%;
		}

		&:first-of-type {
			transform: translatey(30%);
		}
	}

	> div {
		filter: drop-shadow(8px 12px 0px var(--blue));

		img {
			clip-path: url(#about-photo-mask);
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.about-photo-shape {
		position: absolute;
		height: 0;
		width: 0;
	}
}

.about-text {
	margin-bottom: var(--base-gap);

	p:not(:last-of-type) {
		margin-bottom: calc(var(--page-gap) * 2);
	}

	> div {
		display: flex;
		flex-direction: row;

		@include media('<=tablet') {
			display: block;
		}

		&:not(:last-of-type) {
			margin-bottom: calc(var(--page-gap) * 2);
		}

		&:hover .about-mark svg {
			fill: var(--blue);
		}
	}

	.logo-link img {
		display: inline-block;
		width: 18px;
		height: 18px;
		border-radius: 2px;
		transform: translateY(2px);
	}
}

.about-mark {
	margin-right: 50px;
	padding-top: 5px;

	@include media('<=tablet') {
		margin: 0 auto calc(var(--page-gap) * 2);
		padding-top: 0;
		text-align: center;
	}

	svg {
		width: calc(var(--icon-size) * 1.175);
		height: calc(var(--icon-size) * 1.175);
		fill: var(--shade-of-grey-dark);
		transition: fill 150ms ease-in-out;

		@at-root html[data-theme='dark'] & {
			fill: var(--grey);
		}
	}
}

.about-travels {
	width: 100%;
	background: var(--blue);
	padding: 45px 0 calc(1.5 * var(--base-gap));
	overflow-x: hidden;
	position: relative;

	@at-root html[data-theme='dark'] & {
		background: var(--background-highlight);

		.section-border {
			--background-base: var(--background-highlight);
		}
	}

	.section-border {
		--background-base: var(--blue);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		background: var(--background-content);
	}

	.travels-map {
		display: block;
		max-width: 90%;
		margin: var(--base-gap) auto 0;
		transform: translateX(3%);

		@include media('<=tablet') {
			margin-bottom: calc(var(--page-gap) * 2);
		}
	}

	p {
		color: var(--white);
	}
}

.about-plants {
	padding-top: var(--base-gap);
	text-align: center;
	position: relative;

	.section-border {
		--background-base: var(--background-content);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		transform: translateY(-98%);
	}

	.headline-highlight {
		margin-top: 0;
		margin-bottom: var(--base-gap);
	}
}

.instagram-list {
	display: grid;
	grid-gap: var(--page-gap);
	grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
	grid-auto-rows: 25vw;
	list-style: none;
	margin-top: var(--base-gap);

	@include media('<=tablet') {
		grid-template-columns: repeat(auto-fill, minmax(45vw, 1fr));
		grid-auto-rows: 50vw;
	}

	li {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 0;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;

		> div {
			position: absolute;
			z-index: 1;
			opacity: 0;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-content: center;
			display: flex;
			transition: opacity 150ms var(--ease-out-back);

			svg:not(.blob) {
				fill: var(--white);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 15%;
			}

			svg.blob {
				fill: var(--blue);
				width: 30%;
			}
		}

		&:hover > div {
			opacity: 1;
		}
	}

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}
