---
---

@charset "UTF-8";

@import 'utils/index';

/**
 * Blog
 */
.template-blog .container-heading {
	display: flex;
	justify-content: center;

	h1 {
		margin: 0;
	}
}

.blog-list {
	margin-top: var(--base-gap);
	width: 100%;
	list-style: none;

	li {
		width: 100%;
		background: var(--background-highlight);
		padding-bottom: calc(2 * var(--page-gap));

		&:last-child {
			margin-bottom: 0;
			padding-bottom: var(--base-gap);
		}

		&:first-child > svg {
			background: var(--background-content);
		}
	}

	a {
		display: block;
		position: relative;
		width: 100%;
		max-width: var(--page-width);
		margin: 0 auto;
		padding: 20px var(--page-gap);

		&:visited > span {
			background-color: var(--background-highlight);
		}
	}

	a > span {
		position: absolute;
		height: 10px;
		width: 10px;
		background: var(--link-hover);
		border-radius: 50%;
		left: -20px;
		top: 50%;
		transform: translateY(-50%);
	}

	h2 {
		margin: 0;
		line-height: 145%;

		@include media('<=tablet') {
			line-height: 38px;
		}
	}

	p:after {
		content: '...';
	}
}

.blog-post-meta {
	font-size: var(--font-size-small);
	color: var(--meta-text);
}

.blog-post-external svg {
	width: var(--icon-size);
	height: var(--icon-size);
	fill: var(--meta-text);
	vertical-align: middle;
	transform: translateY(-2px);
}
