@layer pages {
	.intro-welcome {
		margin-bottom: var(--gap-large);
	}

	.intro-welcome-photo {
		position: relative;

		@media (width <= 900px) {
			display: none;
		}

		.intro-welcome-photo-mask svg image {
			display: block;
			width: 100%;
		}
	}

	.intro-welcome-content {
		& h1 {
			margin-top: 0;
			margin-bottom: var(--gap-base);
			text-align: left !important;
		}

		& p {
			color: var(--text-color-base);
			margin-top: var(--gap-base);

			&:first-of-type {
				font-weight: 400;
				font-size: var(--font-size-medium);
			}
		}

		@media (width <= 900px) {
			grid-column: span 6;
		}
	}

	/**
	 * Sections
	 */
	.intro-content {
		padding-bottom: calc(1.5 * var(--gap-large));

		@media (width <= 825px) {
			display: block;
		}

		> section {
			text-align: left;

			@media (width <= 825px) {
				width: 100%;
				margin-bottom: calc(2 * var(--gap-base));
			}
		}

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		p {
			margin: var(--gap-base) 0;
		}
	}

	.content-list-projects {
		list-style: none;
		padding-left: 0;

		& li:not(:last-child) {
			margin-bottom: var(--gap-base);
		}

		& li a {
			width: 100%;
			flex-direction: column;
			align-items: flex-start;
		}

		& li p {
			margin: 0;
			font-size: var(--font-size-small);
		}
	}

	.content-list-projects .project-title {
		font-weight: 400;
		display: inline-flex;
		gap: calc(0.5 * var(--gap-base));
		align-items: center;
		width: 100%;

		img,
		svg {
			width: var(--icon-size);
			height: var(--icon-size);
		}

		> span {
			color: var(--text-color-meta);
			align-items: center;
			font-size: calc(0.75 * var(--font-size-small));
			gap: calc(0.25 * var(--gap-base));

			svg {
				fill: var(--text-color-meta);
				width: calc(0.75 * var(--icon-size-small));
				height: calc(0.75 * var(--icon-size-small));
			}
		}
	}

	.content-list-articles {
		list-style: none;
		margin-top: calc(2 * var(--gap-base));
		padding-left: 0;

		li {
			margin-bottom: var(--gap-base);
			display: flex;
			justify-content: flex-start;
			grid-gap: var(--gap-base);
			font-weight: 400;
		}

		span {
			color: var(--text-color-base);
			font-weight: inherit;
		}

		a {
			font-weight: inherit;
			display: inline-block;
		}
	}

	.content-list-articles svg {
		display: inline-block;
		width: var(--icon-size-small);
		height: var(--icon-size-small);
		fill: var(--text-color-meta);
		vertical-align: middle;
		transition: fill 100ms ease-in-out;
		transform: translateY(-1px);
	}
}
