.template-resume #content {
	padding-bottom: var(--gap-large);
}

.template-resume #intro {
	align-items: center;
	margin-bottom: var(--gap-large);
	position: relative;

	.blob-photo image {
		height: 100%;
		width: auto;
	}

	p {
		margin-bottom: var(--gap-base);
	}

	.blob-photo {
		float: left;
		width: 360px;
		shape-outside: ellipse(177px 244px at 185px 158px); /* Right value found with Firefox */
		margin-right: calc(var(--gap-base) * 1.5);
		shape-margin: calc(var(--gap-base) * 1.5);
	}

	@media screen and (width <= 768px) {
		> .col-6 {
			display: flex;
			flex-direction: column;
			gap: var(--gap-base);
		}

		h1 {
			order: 1;
		}

		.blob-photo {
			float: none;
			width: 100%;
			margin-right: 0;
			order: 2;
		}

		p {
			order: 3;
		}

		.resume-quicknav-wrapper {
			order: 4;
		}
	}
}

.template-resume section:not(#intro) {
	align-items: stretch;

	> div > ul {
		list-style: none;
		padding-inline-start: 0;
	}

	&:hover .resume-category h2 {
		color: var(--link-hover);
	}
}

.resume-quicknav-note {
	display: block;
	color: var(--text-color-meta);
	margin-bottom: var(--gap-small);
}

.resume-quicknav-wrapper {
	display: none;
	@media screen and (width <= 768px) {
		display: flex;
	}
}

.resume-quicknav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: calc(var(--gap-base) / 2);
}

.resume-category {
	text-align: right;
	padding-bottom: var(--gap-base);
	padding-right: calc(1.5 * var(--gap-base));
	border-right: var(--border-width-large) solid var(--background-highlight);

	@media screen and (width <= 768px) {
		padding-right: 0;
		padding-bottom: var(--gap-small);
		border-right: none;
		border-bottom: var(--border-width-large) solid var(--background-highlight);
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: calc(var(--gap-base) * 0.5);
		transition: color 150ms var(--ease-out-back);

		@media screen and (width <= 768px) {
			justify-content: flex-start;
		}

		.template-resume :target & {
			color: var(--link-hover);
		}
	}

	svg {
		color: var(--text-color-meta);
		width: var(--icon-size);
		height: var(--icon-size);
	}
}

.resume-content {
	padding-bottom: var(--gap-large);

	@media screen and (width <= 768px) {
		padding-top: var(--gap-base);
	}

	h3 {
		margin-bottom: calc(var(--gap-base) / 2);
	}

	> ul > li {
		display: flex;
		flex-direction: column;
	}

	&:not(.grid) > ul > li:not(:last-child) {
		margin-bottom: var(--gap-base);
	}

	.box {
		position: relative;
		flex-direction: column;

		.resume-content-box-badge {
			position: absolute;
			top: 4px;
			right: 4px;
			width: 50px;
			height: auto;
			object-fit: contain;
		}
	}
}

.resume-content-title {
	display: flex;
	align-items: center;
	gap: 0.5em;

	.resume-content-time {
		border-radius: var(--radius-base);
		background: var(--background-highlight);
		padding-inline: calc(var(--gap-base) / 6);
	}
}

.resume-content-subtitle {
	display: flex;
	align-items: center;
	gap: calc(var(--gap-base) / 2);

	a {
		display: inline-block;
	}
	span {
		color: var(--text-color-meta);
		font-style: italic;
		font-size: var(--font-size-small);
	}
}

.resume-content-description {
	padding-left: var(--gap-base);
	list-style: disc;

	li::marker {
		color: var(--text-color-highlight);
	}
}

.resume-content-time {
	font-size: var(--font-size-small);
	color: var(--text-color-meta);
	line-height: 22px;

	@media screen and (width <= 485px) {
		font-size: var(--font-size-tiny);
		line-height: 16px;
	}
}

.resume-content-logo {
	width: var(--icon-size-small);
	height: 100%;
	object-fit: cover;
	border-radius: var(--radius-base);
	border: var(--border-width-base) solid var(--white);
}

.resume-content-list {
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap-small);
	list-style: none;

	&:not(:last-of-type) {
		margin-bottom: var(--gap-small);

		@media screen and (width <= 768px) {
			margin-bottom: var(--gap-base);
		}
	}
}
