.template-resume #intro {
	align-items: center;
	margin-bottom: var(--gap-large);

	.blob-photo image {
		height: 100%;
		width: auto;
	}
}

.template-resume section:not(#intro) {
	align-items: stretch;

	> div > ul {
		list-style: none;
		padding-inline-start: 0;
	}
}

.resume-quicknav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: calc(var(--gap-base) / 2);
	margin-top: var(--gap-base);
}

.resume-category {
	text-align: right;
	padding-bottom: var(--gap-base);
	padding-right: calc(1.5 * var(--gap-base));
	border-right: var(--border-width-large) solid var(--background-highlight);

	h2 {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: calc(var(--gap-base) * 0.5);
	}

	svg {
		color: var(--text-color-meta);
		width: var(--icon-size);
		height: var(--icon-size);
	}
}

.resume-content {
	padding-bottom: var(--gap-large);

	h3 {
		margin-bottom: calc(var(--gap-base) / 2);
	}

	> ul > li {
		display: flex;
		flex-direction: column;
	}

	&:not(.grid) > ul > li:not(:last-child) {
		margin-bottom: var(--gap-base);
	}

	.box {
		position: relative;
		flex-direction: column;

		.resume-content-box-badge {
			position: absolute;
			top: 4px;
			right: 4px;
			width: 50px;
			height: auto;
			object-fit: contain;
		}
	}
}

.resume-content-title {
	display: flex;
	align-items: center;
	gap: 0.5em;

	.resume-content-time {
		border-radius: var(--radius-base);
		background: var(--background-highlight);
		padding-inline: calc(var(--gap-base) / 6);
		line-height: 22px;
	}
}

.resume-content-subtitle {
	display: flex;
	align-items: center;
	gap: calc(var(--gap-base) / 2);

	a {
		display: inline-block;
	}
	span {
		color: var(--text-color-meta);
		font-style: italic;
		font-size: var(--font-size-small);
	}
}

.resume-content-description {
	padding-left: var(--gap-base);
	list-style: disc;

	li::marker {
		color: var(--text-color-highlight);
	}
}

.resume-content-time {
	font-size: var(--font-size-small);
	color: var(--text-color-meta);
}

.resume-content-logo {
	width: var(--icon-size-small);
	height: 100%;
	object-fit: cover;
	border-radius: var(--radius-base);
	border: var(--border-width-base) solid var(--white);
}

.resume-content-list {
	padding-left: var(--gap-base);

	li::marker {
		color: var(--text-color-highlight);
	}
}
