/**
 * LINKS
 */
.link-gradient {
   background-repeat: no-repeat;
   background-size: 0% 3px;
   background-position: center bottom 5px;
   background-image: linear-gradient(
      to right,
      $gradient-start,
      $gradient-end
   );
   box-decoration-break: clone;
   -webkit-box-decoration-break: clone;
   -moz-background-inline-policy: each-box;
   transition: background 100ms ease-in-out;

   &:hover {
      background-size: 100% 3px;
   }
}