/**
 * SOCIALMEDIA
 */
.socialmedia {
	list-style: none;

	li {
		display: inline-block;
		margin: 0 3px;
		&:last-child {
			margin-right: 0;
		}
	}

	a {
		display: block;
		line-height: 0;

		&[href*='github']:hover svg {
			fill: black;
		}
		&[href*='twitter']:hover svg {
			fill: var(--blue);
		}
		&[href*='stackoverflow']:hover svg {
			fill: var(--orange);
		}
		&[href*='linkedin']:hover svg {
			fill: var(--blue);
		}
		&[href*='xml']:hover svg {
			fill: var(--orange);
		}
		&[href*='mailto']:hover svg {
			fill: black;
		}
	}

	svg {
		width: 22px;
		height: 22px;
		fill: var(--shade-of-grey-dark);
		transition: fill 100ms ease-in-out;
	}
}
