* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@media (prefers-reduced-motion: reduce) {
	*,
	::before,
	::after {
		transition-duration: 0ms !important;
		animation-duration: 0ms !important;
	}
}

body {
	background-color: var(--background-color);
	font-family: var(--font-myriad);
	font-weight: 300;
	font-size: 16px;
	text-rendering: geometricPrecision;
	// Enable best font rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;

	&.fonts-loaded {
		font-family: var(--font-roboto);
	}

	@include media('<=tablet') {
		border-width: var(--page-border-medium);
	}
}

::selection {
	background-color: var(--blue);
	color: white;
}

/**
 * A11y
 */
.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	&:focus {
		clip: auto;
		height: auto;
		overflow: auto;
		position: absolute;
		width: auto;
	}
}

.a11y-jump {
	padding: calc(0.5 * var(--page-padding)) var(--page-padding);
	font-weight: 400;
	z-index: 2;
	background: white;
	top: var(--page-padding);
	left: var(--page-padding);
}

/**
 * Forms
 */
input {
	border: 2px solid rgba(0, 0, 0, 0.2);
	font-family: var(--font-courier);
	padding: 5px 15px;
	transition: border 150ms ease-in-out;

	.fonts-loaded & {
		font-family: var(--font-roboto-mono);
	}

	&:hover {
		border: 2px solid rgba(0, 0, 0, 0.3);
	}

	&:active,
	&:focus {
		border: 2px solid rgba(0, 0, 0, 0.5);
		outline: none;
	}
}

/**
 * Images
 * This is experimental and not fully supported in most browsers.
 * Anyway, I want to test this feature.
 */
img[src$='.jpg'],
img[src$='.png'] {
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
}

img {
	width: 100%;
	height: auto;
}
