---
layout: articles
---

<div id="main-content" class="content-article">
	<aside class="content-aside">
		<div class="aside-navigation" role="complementary">
			{% include menu.html active="blog" %}

			<div class="aside__author">
				{% include author-img.html %}
			</div>
			
			{% include author-description.html %}
			{% include tags.html %}
		</div>

		<div class="article__fixed hidden-tablet">
			<!-- Go to top -->
			<a href="#" class="article__upstairs link-gradient">
				<svg viewBox="0 0 24 24"><path d="M13,20H11V8L5.5,13.5L4.08,12.08L12,4.16L19.92,12.08L18.5,13.5L13,8V20Z" /></svg>
			</a>
		</div>
	</aside>

	<article class="content-body">
		<!-- Article: Heading -->
		<header class="content-heading">
			{% assign reading_time = content | strip_html | number_of_words | append: '.0' | divided_by: 180 %}

			<h1 title="{{ page.title }}">{{ page.title }}</h1>

			<span class="heading__published">
				Published <span class="heading__time">{{ page.date | date: "%d %B %Y" }}</span>, tagged with {% for tag in page.tags %}<a href="/tag/{{tag}}"><strong>#{{ tag }}</strong></a> {% endfor %}
			</span>
		</header>

		{{ content }}

		<!-- Article: Share -->
		<section class="article__share">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="morkro">Tweet</a>
			<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>

			<script src="https://apis.google.com/js/platform.js" async defer>
				{lang: 'en-GB'}
			</script>
			<div class="g-plus" data-action="share" data-annotation="bubble" data-href="{{ site.url }}{{ page.url }}"></div>
		</section>

		<!-- Article: Comments -->
		<section class="article__comments">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES * * */
				var disqus_shortname = 'morkro';

				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>
				Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
			</noscript>
		</section>

		{% include footer.html %}
	</article>
</div>