---
layout: default
title: Tags | Moritz Kröger
---

<div id="main-content" class="content-tags">
	<aside class="content-aside">
		<div class="aside-navigation" role="complementary">
			{% include header.html %}
			<div class="aside__author">
				{% include author-img.html %}
			</div>
			
			{% include tags.html %}
		</div>
	</aside>

	<section class="content-body">
		<header class="content-heading">
			<h1 title="#{{ page.tag }}">#{{ page.tag }}</h1>
		</header>

		<ul class="blog__list">
			{% for post in site.posts %}
			{% for tag in post.tags %}
			{% if tag == page.tag %}
			<li class="blog__item"><a class="link-feature" href='{{post.url}}'>
				<span>
					<time datetime='{{post.date | date: "%Y-%m-%d"}}'>{{ post.date | date: "%d %B %Y" }}</time>
				</span>
				<h2>{{ post.title }}</h2>
				<span class="item__excerpt">{{ post.excerpt | strip_html }}</span>
			</a></li>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</ul>

		{% include footer.html %}
	</section>
</div>