/**
 * ASIDE: NAVIGATION
 */
.aside-navigation {
	width: 100%;
	position: relative;

	span {
		font-size: inherit;
		line-height: inherit;
	}
}

.aside__author {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 4px;
	line-height: 0;

	img {
		width: 100%;
		height: auto;
		position: relative;
		z-index: -1;
		border-radius: 2px;
	}
}

.aside__bio {
	font-size: 14px;
	line-height: 22px;
	margin: 20px 0;

	a {
		display: inline-block;
		font-size: inherit;
		line-height: 0;

		&.no-icon {
			display: inline;
		}
	}

	svg {
		width: 14px;
		height: 14px;
		vertical-align: middle;
		fill: $blue;
		transition: fill 150ms ease-in-out;
	}

	a:hover svg {
		fill: $red;
	}
}

.aside__tags {
	margin-top: 20px;

	h2 {
		margin-bottom: 20px;
		font-size: 18px;
		padding-bottom: 0px;
	}

	ul {
		list-style: none;
	}

	li {
		height: 40px;
		margin-bottom: 4px;
	}

	p {
		background-color: rgba(0, 0, 0, .3);
		padding: 0 15px;
		line-height: 40px;
		border-radius: 2px;
		font-weight: 400;
	}

	a, p {
		display: inline-block;
		font-size: 16px;

		span {
			font-size: 14px;
			vertical-align: bottom;
			opacity: .5;
		}
	}
}

/**
 * ASIDE: SOCIAL
 */
.aside__social {
	margin-bottom: 20px;

	p {
		font-size: 14px;
		line-height: 20px;
		margin: 10px 0;
		padding: 0 10px;
	}

	ul {
		list-style: none;
		display: flex;
	}

	li {
		width: 25%;
		display: inline-block;
		margin-right: 4px;

		&:last-child {
			margin-right: 0;
		}
	}

	.link-gradient {
		display: flex;
		padding: 10px;
	}

	svg {
		margin: 0 auto;
	}
}

@media #{$tablet} {
	.aside-navigation {
		margin-bottom: 30px;
		display: flex;
		flex-wrap: wrap;

		&::after {
			display: none; 
		}

		a {
			display: block;
			order: 1;
			width: 100%;
			margin-right: 5%;
		}

		p:not(.aside__bio) {
			display: block;
			order: 2;
			width: 65%;
			text-align: left;
			margin: 0;
		}
	}

	.aside__social, 
	.aside__bio, 
	.aside__tags {
		display: none;
	}
}