/**
 * CONTENT
 */
#page-content {
   width: 100%;
   padding: $base-gap 0 0;
   background: $content-background;

   @include media("<=tablet") {
      padding-top: 40px;
      overflow: hidden;
   }
}