main {
	display: block; // Hello, non-html5 browser!
	max-width: 80%;
	width: 95%;
	margin: 60px auto 0;
}

#main-content {
	display: flex;
	justify-content: space-between;

	aside {
		width: 25%;
		position: relative;
		z-index: 0;
		text-align: left;
	}

	> section, > article {
		width: 70%;
		position: relative;
		z-index: 1;
		margin-top: -10px;
	}
}

.content__heading {
	margin-bottom: 30px;

	h1:not(.heading__preface) {
		margin-bottom: 5px;
		text-shadow: 0px 1px 0px white;
		border-bottom: 4px solid rgba(0,0,0,0.2);
	}

	span, a {
		font-size: 14px;
		font-weight: 400;
		font-style: italic;
		color: rgba(0,0,0,0.4);
	}

	a:hover {
		color: rgba(0,0,0,0.7);
	}

	div {
		display: flex;
		justify-content: space-between;
	}
}

/* MEDIA QUERY */
@media #{$min-desktop} {
	#main-content {
		aside {
			width: 288px;
			padding-right: 30px;
		}
	}
}

@media #{$tablet} {
	#main-content {
		flex-wrap: wrap;
		margin-top: 40px;

		aside, > article, > section {
			margin: 0 auto;
			width: 80%;
		}

		aside {
			padding-right: 0;
		}
	}

	.content__heading {
		span, div {
			display: block;
		}
	}
}

@media #{$max-mobile} {
	#main-content {
		aside, > article, > section {
			width: 90%;
		}
	}
}