/**
 * FOOTER
 */
#page-footer {
   width: 100%;
   padding: 100px 0 50px;
   background-image: linear-gradient(
      180deg,
      $content-background,
      transparent 50%,
      transparent 100%
   );

   @include media("<=tablet") {
      padding: 70px 0 20px;
   }

   p {
      color: $shade-of-grey-dark;
      font-size: 100%;
   }

   a {
      color: $text-color;
      &:hover { color: $link-hover; }
   }
}

.footer-inner span:not(.footer-year) {
   margin: 0 10px;
}