/**
 * FOOTER
 */
#page-footer {
   width: 100%;
   padding: 100px 0 0;
   background-image: linear-gradient(
      180deg,
      $content-background,
      transparent 70%,
      transparent 100%
   );

   @include media("<=tablet") {
      padding: 70px 0 20px;
   }

   p, span {
      color: $shade-of-grey-dark;
      font-size: 100%;
   }

   a {
      color: $text-color;
      &:hover { color: $special-text-color; }
   }
}

.footer-inner {
   display: flex;
   justify-content: space-between;

   .socialmedia {
      margin-top: 10px;
   }

   ul {
      list-style: none;
   }
}

.footer-bottom {
   width: 100%;
   padding: 10px;
   text-align: center;
   padding: 40px 0;

   a {
      font-size: 11px;
   }
}