/**
 * BASE
 */
#header {
	max-width: 1024px;
	width: 90%;
	margin: 30px auto 15px;
	display: flex;

	h1 {
		font-size: 32px;
		margin-bottom: 0;
		margin-left: 308px;
		font-weight: 300;
		color: rgba(0,0,0,.5);
	}

	span {
		font-size: inherit;
		opacity: .5;
	}
}