/**
 * MENU
 */
#main-menu {
	margin-bottom: 20px;

	ul { 
		display: flex; 
		list-style: none;
	}

	li {
		display: inline-block;
		text-align: center;
		margin-right: 4px;
		width: 50%;
		background-color: rgba(0, 0, 0, .05);

		&:last-child {
			margin-right: 0;
		}
	}

	a {
		font-size: 18px;
		line-height: 44px;
		background-color: rgba(0,0,0,0);
		
		&:hover, &:active, &:focus { 
			background-color: $blue; 
		}
	}
}

@media #{$tablet} {
	#main-menu {
		margin-bottom: 0;
		width: 100%;
		order: 3;
	}
}