---
layout: empty
title: 404
pageClass: 404
permalink: 404.html
---

<div class="content-inner container">
	{% render logo.html, asLink: false %}
	<h1>Nothing found here</h1>
	<p>Sorry, there isn't anything at this URL.</p>
	<a href="/" class="chip">
		<svg><use xlink:href="#arrow-left"></use></svg>
		Go back home
	</a>
	</div>
</div>
