---
layout: empty
title: 404
pageClass: 404
permalink: 404.html
meta:
	robots: noindex,follow
	description: This page could not be found. Return to the homepage to continue browsing moritz.berlin.
---

<div class="content-inner container">
	{% render "logo", asLink: false %}
	<h1>Nothing found here</h1>
	<p>Sorry, there isn't anything at this URL.</p>
	<a href="/" class="chip">
		<svg><use xlink:href="#arrow-left"></use></svg>
		Go back home
	</a>
</div>
