---
layout: default
title: 404
pageClass: 404
permalink: 404.html
---

<div class="content-inner container">
	<h1>
		You broke it!
	</h1>

	<div class="content-404">
		<p>
			Don't worry, looks like the page you requested just doesn't exist.
			<br />
			<a href="/">
				I'll guide you out of here
				<svg><use xlink:href="#arrow-right"></use></svg>
			</a>
		</p>
	</div>
</div>
