---
layout: default
---

<section id="main-content" class="content-about">
	<aside class="main-aside">
		<div class="aside__navigation" role="complementary">
			<a href="/">{% include author-img.html %}</a>
			{% include menu.html %}
		</div>
	</aside>

	<article>
		<p>
			I'm a professional web developer with a strong focus and enthusiasm in JavaScript <span>(especially ES6)</span> as well as other emerging technologies from the frontend stack.
		</p>
		<p>
			I'm currently working as User Interface Developer at <br>
			<a href="http://razorfish.de" target="_blank">Razorfish Germany</a> and live in Berlin.
		</p>
		<p>
			You can tweet me on <a href="https://twitter.com/morkro" target="_blank">Twitter</a>,
			view my projects on <a href="https://github.com/morkro" target="_blank">Github</a> or
			if you prefer the oldschool way, <a href="mailto:write@morkro.de">email</a> is also possible.
		</p>
	</article>
</section>	